<template>
  <v-container id="container" class="login-container">
    <v-row class="justify-center vertical-align-center">
      <v-col cols="12" sm="12" md="12" lg="12" class="back-btn-wrapper">
        <v-img class="back-btn" :src="require('../../assets/images/back-btn.svg')">
        </v-img>
        <span class="back-grey-text" v-translate>Back to aution house main page</span>
      </v-col>
      <div class="logo-wrapper"><v-img :src="require('../../assets/logo.svg')" height="40px" width="196px"/></div>
    </v-row>

    <v-row align="center" class="form-container">
      <v-col align="center">
        <div class="form-title" ><span v-translate>Please authorize to start biding</span></div>
        <v-col class="form-wrapper">
          <v-col align="center">
            <v-tooltip  v-model="show" open-on-hover:false :right="toolTipPosition === 'right'" :bottom="toolTipPosition === 'bottom'" :nudge-left="toolTipPosition === 'bottom' ? 15 : 0" :content-class="`input-tooltip ${toolTipPosition === 'bottom' ? 'mobile-show-bottom' : ''}`">
              <template v-slot:activator="{ on }">
                <v-text-field
                  hide-details="true"
                  v-model="email"
                  :label="$gettext('Email')"
                  type="email"
                  solo
                  class="input-field"
                  v-bind:class="{'error-border': show}"
                ></v-text-field>
              </template>
              <span>{{msg}}</span>
            </v-tooltip>
            <v-text-field
              v-model="password"
              :label="$gettext('Password')"
              type='password'
              solo
              class="input-field"
            ></v-text-field>
          </v-col>
        </v-col>



        <v-col align="center" class="no-padding-top">
          <v-btn class="btn primary-btn login-btn" @click="login" :disabled="activeButton()" v-translate>Sign in</v-btn>
        </v-col>
        <v-col align="center" class="forgot-password-wrapper no-padding">
          <a @click="forgotPassword" class="link-text">
            <u v-translate>Forgot password?</u>
          </a>
        </v-col>
      </v-col>
    </v-row>

    <v-row no-gutters class="footer">
      <v-col cols="5" class="footer-logo-wrapper">
        <v-img :src="require('../../assets/images/footer-icon.svg')" width="176px" height="30px"/>
      </v-col>
    </v-row>

    <v-row  no-gutters class="footer support-text">
      <div>
        <span v-translate>Don't have an account?</span>
        <a class="blue-text" @click="signUp"><u v-translate> Sign Up</u></a>
      </div>

    </v-row>
  </v-container>
</template>

<script>

import axios from 'axios';
import SocketClient from '../../utils/socket';


import { mapActions } from 'vuex'
import './style.scss'
import { getAuthToken, setAuthToken, removeAuthToken } from '../../utils'
import Vue from "vue";

export default {
  data: () => ({
    email: null,
    password: null,
    show: false,
    msg: '',
    toolTipPosition: 'right'
  }),
  watch: {
  },
  methods: {
    ...mapActions('login', ['loginForm']),
    ...mapActions(['changeGlobalState']),
    activeButton(){
      return (!this.email || !this.password)
    },
    forgotPassword () {
      this.$router.push({ name: 'resetPassword' })
    },
    signUp () {
      this.$router.push({ name: 'registration' })
    },
    async login () {
      if (this.email === '' || this.email === null) {
        this.showTooltip(this.$gettext('Email is required'));
        return;
      }


      // Show loading
      this.changeGlobalState({key: 'loading', value: true});

      let account = {
        email:this.email,
        password:this.password
      };

      // Call API to login
      let result = await this.loginForm(account);

      if(!result){
        // Hide loading
        this.changeGlobalState({key: 'loading', value: false});

        this.showTooltip(this.$gettext('Internal server error.'));

        return;
      }

      let { data } = result;

      // Error happens
      if(data.error){
        // Hide loading
        this.changeGlobalState({key: 'loading', value: false});

        console.log(data.error)

        this.showTooltip(data.errors[0].errorMessage);
      }else{
        // Hide loading
        this.changeGlobalState({key: 'loading', value: false});

        // Set token to header axios
        axios.defaults.headers.common['Authorization'] = `Bearer ${data.data.token}`;

        // Set token to local storage
        localStorage.setItem('token', data.data.token);

        // Change system language
        if(data.data.language === 'english'){
          axios.defaults.headers.common['lang'] = 'en';
          Vue.config.language = 'en'
        }else{ // Default is german
          axios.defaults.headers.common['lang'] = 'de';
          Vue.config.language = 'de'
        }

        delete data.data.token;

        // Store user profile
        this.changeGlobalState({key: 'userProfile', value: data.data});

        // Connect to socket
        let socketInstance = SocketClient.connectSocket(process.env.VUE_APP_SERVER, {token: getAuthToken()});

        // Connect to socket server
        let that = this;
        socketInstance.on('connect', function (msg) {
          // Store this connection in global store
          that.changeGlobalState({key: 'socketInstance', value: socketInstance});

          console.log('Connect to socket successfully.');
        });

        // Go to auction admin if user is logging in as amdin user
        if(data.data.role === 'admin'){
          this.$router.push('/auction-admin')
        }else{
          // Go to auction page
          this.$router.push('/auction')
        }

      }
    },
    showTooltip (message) {
      // Get width
      if(window.innerWidth < 968){
        this.toolTipPosition = 'bottom'
      }else{
        this.toolTipPosition = 'right'
      }

      this.msg = message;
      this.show = true;

      // Hide after 5s
      setTimeout(() => {
        this.show = false
      }, 5000)
    }
  }
}
</script>
