@import 'src/global/variable';

.login-container{
  height: 100%;
  position: relative;
  .form-container{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    @media(max-width: $mw-mobile) {
      margin-top: 65px;
      position: relative;
      top: unset;
      transform: unset;
      left: unset;
    }
  }

  .form-title{
    font-size: 24px;
    line-height: 25px;
    color: $color-gentle-black;
  }

  .footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 20px;

    @media(max-width: $mw-mobile) {
      margin-bottom: 0;
      left: 0
    }

    &.support-text{
      justify-content: center;
      color: $color-gentle-black;

      @media(max-width: $mw-mobile) {
        bottom: 40px;
      }
    }

    .v-image{
      @media(max-width: $mw-mobile) {
        margin: 0 auto;
        max-width: none !important;
      }
    }
  }

  .login-btn{
    margin-top: -30px;

    @media(max-width: $mw-mobile) {
      width: 100% !important;
      max-width: 400px;
    }
  }
}

.input-field{
  width: 400px !important;
  max-width: unset !important;
  margin-bottom: 10px !important;

  @media(max-width: $mw-mobile) {
    max-width: 100% !important;
  }
}


.input-field .v-text-field__slot input:-webkit-autofill  {
    -webkit-box-shadow: 0 0 0 30px #F9F9F9 inset !important;
}

.input-field div.v-input__slot {
  box-shadow: none !important;
  background-color: $color-extra-light-grey !important;
  border-radius: 3px !important;
  -webkit-box-shadow: 0 0 0 30px #F9F9F9 inset !important;
  border: 1px solid #F0F0F0 !important;
  box-sizing: border-box !important;
};

.image {
  background-size: 20px;
};

.m-b-20{
  background-size: auto;
  margin-bottom: 20px;
};

.btn {
  text-transform: none !important;
  background-color: #1F37B6 !important;
  color: white !important;
};

.v-tooltip__content{
  background: #000000 !important;
  span{
    font-size: 12px;
  }
}
