<template >
  <div id="nav">
    <v-card class="overflow-hidden auth-container-wrapper">
      <v-app-bar
        style="z-index:2;"
        class="main-header"
        elevation="0"
        color="white"
        absolute
      >
        <v-img class="home-logo":src="require('../assets/logo.svg')" max-width="196px" max-height="40px" width="196px" height="40px" />
        <v-spacer></v-spacer>

        <ul v-if="userProfile.role === 'admin'" class="user-count">
          <li><span class="grey-text">Registered</span>{{' '}}<span>{{ userData ? userData.register : 0 }}</span></li>
          <li><span class="grey-text">Logged in</span>{{' '}}<span>{{ userData ? userData.online : 0 }}</span></li>
        </ul>

        <v-btn v-if="userProfile.role === 'admin' && (currentAuction.status === 'preparing' || currentAuction.status === 'stopped')" @click="startAuction(currentAuction.id)" class="auction-operation-btn-list" width="40px" height="40px" icon>
          Start an auction <v-icon class="start-auction-icon">play_arrow</v-icon>
        </v-btn>

        <v-btn v-if="userProfile.role === 'admin' && currentAuction.status === 'started'" @click="changeState({key: 'stopLoadingModal', value: true})" class="auction-operation-btn" width="60px" height="60px" icon>
          <v-icon class="stop-auction-icon">stop</v-icon>
        </v-btn>

        <v-btn v-if="userProfile.role === 'admin' && currentAuction.status === 'started'" @click="doAction({type: 'pause'})" class="auction-operation-btn" width="60px" height="60px" icon>
          <v-icon class="pause-auction-icon">pause</v-icon>
        </v-btn>

        <v-btn v-if="userProfile.role === 'admin' && currentAuction.status === 'paused'" @click="doAction({type: 'resume'})" class="auction-operation-btn-list" width="40px" height="40px" icon>
          Resume an auction <v-icon class="start-auction-icon">play_arrow</v-icon>
        </v-btn>

        <v-badge v-if="userProfile.role !== 'admin'" class="notification-icon" color="#E6B714" :content="getNotificationNumber()" offset-y="14" offset-x="25">

          <v-tooltip v-model="showNotification" :content-class="`show-on-${openNotificationList ? 'bottom' : 'left p-l-15 p-t-7 p-b-8 header-notification'}`" :left="!openNotificationList" :bottom="openNotificationList" allow-overflow internal-activator>
            <template v-slot:activator="{ on, attrs }">

              <v-btn class="navigation-icon" @click="showNotificationList" width="40px" height="40px" icon>
                <v-icon>notifications_none</v-icon>
              </v-btn>

            </template>
            <span v-if="!openNotificationList">
              <span class="close-text">{{notificationMessage}}</span>
              <span class="close-text float-right" @click="closeNotification()" v-translate>CLOSE</span>
            </span>

            <v-card v-if="openNotificationList"
              class="notification-card no-gutters"
            >
              <v-toolbar class="noti-toolbar" color="#fff" elevation="0">
                <v-toolbar-title class="noti-title" v-translate>NOTIFICATION CENTER</v-toolbar-title>

                <v-spacer></v-spacer>

                <span class="close-text" @click="closeNotificationList()" v-translate>CLOSE</span>
              </v-toolbar>

              <v-list two-line class="notification-content-list">
                <v-list-item-group
                  multiple
                >
                  <template v-for="(item, index) in notificationList">
                    <v-list-item :key="item.title" v-bind:class="{inactive: item.is_read}" @click="readNotification(item.id)">
                      <template v-slot:default="{ active, toggle }">
                        <v-list-item-content>
                          <!--<v-list-item-subtitle class="text--primary" v-text="item.text"></v-list-item-subtitle>-->
                          <span>{{item.message}} <span class="item-text">@{{item.article.name}}</span></span>
                        </v-list-item-content>

                        <v-list-item-action>
                          <v-list-item-action-text class="time-ago-text" v-text="moment(item.sent_time).fromNow()"></v-list-item-action-text>
                        </v-list-item-action>
                      </template>
                    </v-list-item>

                    <v-divider
                      v-if="index + 1 < notificationList.length"
                      :key="index"
                    ></v-divider>
                  </template>
                </v-list-item-group>
              </v-list>
            </v-card>

          </v-tooltip>

        </v-badge>

        <v-btn v-if="userProfile.role !== 'admin'" @click="openProfileModal()" class="navigation-icon" width="40px" height="40px" icon>
          <v-icon>settings</v-icon>
        </v-btn>

        <v-btn class="navigation-icon" width="40px" height="40px" icon @click="logout()">
          <v-icon>subdirectory_arrow_right</v-icon>
        </v-btn>

      </v-app-bar>
      <div class="main-router-wrapper">
        <router-view></router-view>
      </div>
      <v-row></v-row>
    </v-card>

    <v-dialog class="user-profile-modal" fullscreen  v-model="showProfileModal" persistent>
      <v-card class="user-profile-container">
        <div class="close-btn-wrapper">
          <v-btn class="" @click="closeProfileModal()">
            <span class="close-text" v-translate>Close</span>
            <v-icon  class="close-modal-icon">close</v-icon>
          </v-btn>

        </div>
        <v-card-title class="profile-header">
          <v-img class="home-logo":src="require('../assets/logo.svg')" max-width="196px" max-height="40px" width="196px" height="40px" />
        </v-card-title>
        <v-card-text class="main-card">
          <v-container>
            <v-row align="center"  class="form-container">
              <v-col align="center">
                <div class="form-title" v-translate>Account Data</div>
                <div class="form-sub-title">biddername0173</div>
                <v-col class="relative-position main-col-wrapper">
                  <v-col align="center" class="sub-col-wrapper">
                    <v-text-field hide-details="true" type="text" v-model="profileData.email" :label="$gettext('Email')" placeholder=" " class="input-field"></v-text-field>
                    <v-text-field hide-details="true" type='password' v-model="profileData.old_password" :label="$gettext('Old password')" placeholder=" " class="input-field"></v-text-field>
                    <v-text-field hide-details="true" type='password' v-model="profileData.new_password" :label="$gettext('New password')" placeholder=" "  class="input-field"></v-text-field>
                    <v-text-field hide-details="true" type='password' v-model="profileData.confirm_password" :label="$gettext('Confirm password')" placeholder=" " class="input-field"></v-text-field>

                    <div class="v-input input-field v-input--hide-details theme--light v-text-field v-text-field--is-booted v-text-field--placeholder no-padding-top">
                      <div class="v-input__control">
                        <v-row class="vertical-align-center no-gutters">
                          <v-col>
                            <div class="btn-label" v-translate>
                              Language
                            </div>
                          </v-col>
                          <v-col>
                            <div class="btn-list">
                              <v-btn class="language-btn no-border-radius-right" v-bind:class="{ inactive: profileData.language !== 'english' }" @click="changeLanguage('english')"><span v-translate>English</span></v-btn>
                              <v-btn class="language-btn no-border-radius-left" v-bind:class="{ inactive: profileData.language !== 'german' }" @click="changeLanguage('german')"><span v-translate>German</span></v-btn>
                            </div>
                          </v-col>
                        </v-row>
                      </div>
                    </div>
                  </v-col>

                </v-col>
              </v-col>
            </v-row>
            <v-row align="center"  class="form-container">
              <v-col align="center">
                <div class="form-title" v-translate>Personal data</div>
                <v-col class="main-col-wrapper">
                  <v-col align="center" class="sub-col-wrapper">
                    <v-text-field hide-details="true" type="text" v-model="profileData.first_name" :label="$gettext('First name')" placeholder=" " class="input-field"></v-text-field>
                    <v-text-field hide-details="true" type='text' v-model="profileData.last_name" :label="$gettext('Last name')" placeholder=" " class="input-field"></v-text-field>

                    <v-text-field hide-details="true" type='text' v-model="profileData.company_name" :label="$gettext('Company name')" placeholder=" " class="input-field">
                      <template slot="append-outer">
                        <span v-translate>Optional</span>
                      </template>
                    </v-text-field>

                    <div class="v-input input-field v-input--hide-details theme--light v-text-field v-text-field--is-booted v-text-field--placeholder no-padding-top">
                      <div class="v-input__control">
                        <v-select
                          class="select-input"
                          v-model="profileData.country"
                          :items="items"
                          append-icon="expand_more"
                          :label="$gettext('Country')"
                        >
                        </v-select>
                      </div>
                    </div>

                    <v-text-field hide-details="true" type='text' v-model="profileData.street" :label="$gettext('Street')" placeholder=" " class="input-field"></v-text-field>
                    <v-text-field hide-details="true" type='text' v-model="profileData.zipcode" :label="$gettext('Zipcode')" placeholder=" " class="input-field"></v-text-field>
                    <v-text-field hide-details="true" type='text' v-model="profileData.city" :label="$gettext('City')" placeholder=" " class="input-field"></v-text-field>
                    <v-text-field hide-details="true" type='text' v-model="profileData.telephone1" :label="$gettext('Telephone1')" placeholder=" " class="input-field"></v-text-field>
                    <v-text-field hide-details="true" type='text' v-model="profileData.telephone2" :label="$gettext('Telephone2')" placeholder=" " class="input-field">
                      <template slot="append-outer">
                        <span v-translate>Optional</span>
                      </template>
                    </v-text-field>
                  </v-col>
                </v-col>

                <v-col align="center">
                  <div class="my-2">
                    <!--<v-btn :disabled="activeButton()" width="190" height="50" @click="signUp" class="btn register-btn">Register</v-btn>-->
                  </div>
                </v-col>
              </v-col>
            </v-row>

            <v-row class="save-wrapper no-gutters">
              <small class="footer-logo"><v-img :src="require('../assets/images/footer-icon.svg')" width="176px" height="30px"/></small>
              <v-btn :class="`btn primary-btn save-btn ${$language.current}`" @click="saveProfile()"><span v-translate>Save and close</span></v-btn>
            </v-row>

            <v-row class="mobile-save-wrapper no-gutters">
              <v-btn :class="`btn primary-btn save-btn ${$language.current}`" @click="saveProfile()"><span v-translate>Save and close</span></v-btn>
            </v-row>
          </v-container>

        </v-card-text>
      </v-card>
    </v-dialog>


  </div>
</template>

<script>

import {mapActions, mapGetters, mapState} from 'vuex'
import Vue from 'vue'

import moment from 'moment';
import './styles.scss'
import axios from "axios";

export default {
  async beforeMount() {
    await this.getNotification();
    await this.getCurrentProfileData()


    // Listener
    if(this.socketInstance){
      this.socketListener();
    }else{
      // Retry after 2s
      setTimeout(()=>{
        this.socketListener();
      },2000)
    }
  },
  data: () => ({
    showNotification: false,
    openNotificationList: false,
    notificationMessage: '',
    profileData: {},
    visibleNotiList: false,
    items: ['Australia', 'UK', 'Vietnam'],
    country: 'UK',
    showProfileModal: false
  }),
  computed: {
    ...mapState(['userProfile', 'socketInstance', 'notificationList']),
    ...mapState('auction',['currentAuction']),
    ...mapGetters('auction',['userData'])

  },
  methods: {
    ...mapActions(['logout', 'updateUserProfile', 'getNotification', 'markReadNotification', 'changeGlobalState']),
    ...mapActions('auction',['startAuction','doAction', 'changeState']),

    // Listen event from socket server
    socketListener(){

      // New bid
        this.socketInstance.on('notification', async(data) => {
          this.showNotification = true;
          this.notificationMessage = data;

          // Hide in after 5s
          setTimeout(()=>{
            this.showNotification = false;
          },5000)

          // Load notification
          await this.getNotification();
        });

      // Admin warning
      this.socketInstance.on('bidWarning', async(data) => {
        this.showNotification = true;
        this.notificationMessage = data;

        // Hide in after 5s
        setTimeout(()=>{
          this.showNotification = false;
        },5000)

        // Load notification
        await this.getNotification();
      });
    },

    closeNotification(){
      this.showNotification = false;
    },

    getCurrentProfileData(){
      this.profileData = {...this.userProfile};

      // Add extra field
      this.profileData.old_password = '';
      this.profileData.new_password = '';
      this.profileData.confirm_password = '';

      // Country is null due to optional, pick the default value
      if(!this.profileData.country){
        this.profileData.country = 'UK'
      }
    },
    showNotificationList () {
      this.openNotificationList = !this.openNotificationList

      if(this.openNotificationList === true){
        this.showNotification = true;
      }else{
        this.showNotification = false;
      }
    },
    closeNotificationList () {
      this.showNotification = false;
      this.openNotificationList = false;
    },
    // Show profile modal
    openProfileModal(){
      // Hide bottom mobile navigation bar
      this.changeGlobalState({key: 'showBottomNavigation', value: false})

      // Get profile data
      this.getCurrentProfileData()

      this.showProfileModal = true;
    },

    // Close profile modal without saving
    closeProfileModal(){
      this.showProfileModal = false;

      // Show bottom mobile navigation bar
      this.changeGlobalState({key: 'showBottomNavigation', value: true})

      // Clear all data
      this.profileData = {}
    },

    // Save and close profile
    async saveProfile(){
      console.log(this.profileData)
      let rs  = await this.updateUserProfile(this.profileData);

      // Success
      if(rs){
        // Change system language
        if(this.profileData.language === 'english'){
          axios.defaults.headers.common['lang'] = 'en';
          Vue.config.language = 'en'
        }else{ // Default is german
          axios.defaults.headers.common['lang'] = 'de';
          Vue.config.language = 'de'
        }
        this.showProfileModal = false;

        // Show bottom mobile navigation bar
        this.changeGlobalState({key: 'showBottomNavigation', value: true})
      }
      //this.showProfileModal = false;
    },

    // Change language
    changeLanguage(value){
      this.profileData = {...this.profileData, language: value};
    },

    async readNotification(id){
      // Close notification list
      this.closeNotificationList();

      await this.markReadNotification(id);

      await this.getNotification();
    },

    getNotificationNumber(){
      return this.notificationList.length !== undefined ? (this.notificationList.length).toString() : 0
    }
  }
}
</script>
