@import 'src/global/variable';

#nav{
  //padding: 20px 60px 0 60px;
  height: 100%;
  a {
    font-weight: bold;
    color: #2c3e50;
  }
  a.router-link-exact-active {
    color: #42b983;
  }
  .auth-container-wrapper{
    box-shadow: none;
    height: 100%;

    .main-header{
      padding: 20px 60px 0 60px;

      @media(max-width: $mw-mobile) {
        padding: 15px 0 0 20px;

        .v-toolbar__content{
          padding: 0;
        }
      }

      .user-count{
        list-style: none;
        font-size: 12px;
        line-height: 15px;
        color: $color-gentle-black;
        position: absolute;
        left: 33%;

        .grey-text{
          color: $color-light-grey;
        }
      }

      .auction-operation-btn-list{
        height: 40px !important;
        width: 147px !important;
        text-transform: none;
        font-size: 12px;
        line-height: 20px;
        font-weight: normal !important;
        letter-spacing: normal !important;
        color: $color-gentle-black;

        &:before{
          background-color: $color-white;
        }

        .v-ripple__container{
          display: none !important;
        }

        .start-auction-icon{
          font-size: 20px;
          background: $color-hard-yellow;
          border-radius: 50%;
          padding: 20px;
          margin-left: 10px;
        }
      }

      .auction-operation-btn{
        text-transform: none;
        font-size: 12px;
        line-height: 20px;
        font-weight: normal !important;
        letter-spacing: normal !important;
        color: $color-gentle-black;

        &:before{
          background-color: $color-white;
        }

        .v-ripple__container{
          display: none !important;
        }

        .stop-auction-icon{
          font-size: 20px;
          background: $color-white;
          border-radius: 50%;
          padding: 20px;
          margin-left: 10px;
        }

        .pause-auction-icon{
          font-size: 20px;
          background: $color-normal-grey;
          border-radius: 50%;
          padding: 30px;
          margin-left: 10px;
        }
      }

    }

    .navigation-icon{
      color: $color-gentle-black;
      margin: 0 10px;

      &.v-btn::before{
        background-color: #F9F9F9;
        opacity: 1;
      }
    }

  }
  .main-router-wrapper{
    height: calc(100% - 90px);
    padding-top: 100px;
    z-index: -2;
  }

  .notification-icon{
    @media(max-width: $mw-mobile) {
     display: none;
    }
  }
}

.user-profile-container{
  .profile-header{
    @media(max-width: $mw-mobile) {
      position: absolute;
    }
  }
  .main-card{
    @media(max-width: $mw-mobile) {
      padding: 90px 0 0 0 !important;
    }
    .form-container{
      .form-title{
        color: $color-gentle-black;
        font-size: 24px;
        line-height: 25px;
        @media(max-width: $mw-mobile) {
          text-align: left;
        }
      }
      .form-sub-title{
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: $color-light-grey;
        margin-top: 5px;
        @media(max-width: $mw-mobile) {
          text-align: left;
        }
      }

      .main-col-wrapper{
        @media(max-width: $mw-mobile) {
          padding-left: 0;
        }
        .sub-col-wrapper{
          @media(max-width: $mw-mobile) {
            padding-left: 0;
            padding-right: 0
          }
        }
      }

      .btn-label{
        color: $color-light-grey;
        font-size: 12px;
      }

      .btn-list{
        text-align: right;
        .language-btn{
          width: 75px;
          height: 25px;
          max-height: 25px;
          background: #F0F0F0;
          border: 1px solid #F0F0F0;
          padding: 5px 15px;
          text-transform: none;
          font-size: 12px;
          box-shadow: none;
          font-weight: normal;
          letter-spacing: unset;
          &.inactive{
            background: $color-white !important;
            color: $color-light-grey !important;
          }
        }
      }


      .input-field{
        position: relative !important;

        @media(max-width: $mw-mobile) {
          width: 100% !important;
        }

        .v-input__append-outer{
          position: absolute;
          right: 0;
          top: 0;
          font-size: 12px;
          font-weight: normal;
          line-height: 15px;
          text-align: right;
          color: rgba(24, 24, 24, 0.33);
        }

        .v-input__slot{
          border: none !important;
          &::after, &::before{
            display: none;
          }
          .v-text-field__slot{
            background-color: #fff;

            input{
              margin-top: 10px;
              background: #F9F9F9;
              border: 1px solid #F0F0F0;
              border-radius: 3px;
              height: 50px;
              max-height: 50px;
              padding: 15px;
            }
          }
        }
      }

      .select-input{
        .v-select__slot{
          background: $color-white
        }
        i{
          font-size: 12px;
        }
        .v-select__selections{
          margin-top: 5px;
          background: #F9F9F9;
          border: 1px solid #F0F0F0;
          box-sizing: border-box;
          border-radius: 3px;
          width: 400px;
          height: 50px;
          padding-left: 15px;
        }

        .v-input__append-inner{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          i{
            color: $color-gentle-black
          }
        }
      }
    }
  }


  .save-wrapper{
    position: fixed;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;

    @media(max-width: $mw-mobile) {
      position: relative !important;
      margin-bottom: 60px;
      width: inherit;
      left: inherit;
      transform: none;
      bottom: 0
    }

    .footer-logo{
      margin-left: 65px;
      @media(max-width: $mw-mobile) {
        margin: 0 auto;
      }
    }

    .save-btn{
      font-weight: normal;
      font-size: 16px !important;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF !important;
      position: absolute;
      right: 60px;
      bottom: 0;

      @media(max-width: $mw-mobile) {
        display: none;
        left: 50% !important;
        transform: translateX(-50%);
        bottom: 20px
      }
    }
  }

  .mobile-save-wrapper{
    position: fixed;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    @media(min-width: $mw-mobile) {
      display: none;
    }


    .footer-logo{
      margin-left: 65px;
    }

    .save-btn{
      font-weight: normal;
      font-size: 16px !important;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF !important;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 55px;
    }
  }

  .close-btn-wrapper{
    position: absolute;
    top: 20px;
    right: 60px;

    @media(max-width: $mw-mobile) {
      top: 10px;
      right: 10px;
    }

    .close-text{
      @media(max-width: $mw-mobile) {
        display: none;
      }
    }

    .close-modal-icon{
      font-size: 12px;
      width: 40px;
      height: 40px;
      background: $color-normal-grey;
      margin-left: 10px;
      border-radius: 50%;
    }

    button{
      text-transform: none;
      font-size: 12px;
      font-weight: normal;
      line-height: 20px;
      color: rgba(24, 24, 24, 0.33);
      background-color: transparent !important;
      box-shadow: none;
      letter-spacing: unset !important;
      @media(max-width: $mw-mobile) {
        width: 40px;
        min-width: 40px !important;
        height: 40px;
        padding: 0 !important;
      }
      &:before, &:focus:before, &:hover:before{
        background-color: transparent !important;
      }

      i{
        @media(max-width: $mw-mobile) {
          font-size: 20px !important;
          margin-left: 0 !important;
        }
        color: $color-gentle-black !important;
      }
    }
  }

  .v-ripple__container{
    background: none !important;
    color: $color-light-grey !important;
  }
}

.notification-card{
  height: 100%;
  max-width: 314px !important;
  box-shadow: none !important;
  .notification-content-list{
    border: 1px solid #F0F0F0;
    box-shadow: 0 0 15px rgba(24, 24, 24, 0.07) !important;
  }
  .v-list{
    padding-top: 0;
    height: 420px !important;
    //overflow: scroll;
    overflow-x: hidden;
    .v-list-item__content{
      padding: 10px;
      .item-text{
        color: $color-dark-blue
      }
      .v-list-item__subtitle{
        white-space: normal;
        line-height: 15px;
      }
      .v-list-item-group{
        border: 1px solid #F0F0F0;
        box-shadow: 0 0 15px rgba(24, 24, 24, 0.07);
      }
    }
  }
  .noti-toolbar{
    height: auto !important;
    .v-toolbar__content{
      padding: 15px 20px 15px 25px;
      height: auto !important;
    }
  }
  .noti-title{
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: $color-light-grey;
    text-transform: uppercase;
  }

  .close-text{
    cursor: pointer;
    font-size: 10px;
  }

  width: 100%;
  &.v-application{
    &.mx-auto{
      margin: 0 !important;
    }
  }
  .v-toolbar__content{
    border-bottom: 1px solid #f0f0f0;
  }

  .v-divider{
   border-color: #f0f0f0 !important;
  }

  .v-list-item__subtitle{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }

  .time-ago-text{
    font-size: 10px;
    line-height: 10px;
    color: $color-light-grey !important;
  }

  .v-list-item{
    min-height: auto !important;
    &:focus{
      background: none;
    }
    &.inactive{
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
