<template>
  <v-container class="lighten-5 register-container" id="container">
    <v-row class="justify-center vertical-align-center" @click="signInAccount">
      <v-col cols="12" sm="12" md="12" lg="12" class="back-btn-wrapper">
        <v-img class="back-btn" :src="require('../../assets/images/back-btn.svg')">
        </v-img>
        <span class="back-grey-text" v-translate>Back to aution house main page</span>
      </v-col>
      <div class="logo-wrapper"><v-img :src="require('../../assets/logo.svg')" height="40px" width="196px"/></div>
    </v-row>

    <v-row align="center"  class="form-container">
      <v-col align="center">
        <div class="form-title" v-translate>Registration</div>
        <v-col class="form-wrapper">
          <v-col align="center">
            <v-tooltip  v-model="showMessage" open-on-hover:false :right="toolTipPosition === 'right'" :bottom="toolTipPosition === 'bottom'" :nudge-left="toolTipPosition === 'bottom' ? 15 : 0" :content-class="`input-tooltip ${toolTipPosition === 'bottom' ? 'mobile-show-bottom' : ''}`">
              <template v-slot:activator="{ on }">
                <v-text-field hide-details="true"
                              type="text"
                              v-model="email"
                              :label="$gettext('Email')"
                              solo class="input-field"
                              v-bind:class="{'error-border': showMessage}"
                >

                </v-text-field>
              </template>
              <span>{{message}}</span>
            </v-tooltip>
            <v-text-field hide-details="true" v-model="password" :label="$gettext('Password')" solo type='password' class="input-field"></v-text-field>
            <v-text-field hide-details="true" v-model="confirmPassword" :label="$gettext('Confirm Password')" solo type='password' class="input-field"></v-text-field>
            <v-checkbox class="checkbox-wrapper" color="#1F37B6" v-model="agreeTerm">
              <template v-slot:label>
                <div @click.stop="" class="text">
                  <span v-translate>By using this service, I agree to the</span>
                  <a href="javascript:;" class="blue-text" v-translate>Terms and Conditions</a>
                  of Auction.live
                </div>
              </template>
            </v-checkbox>
          </v-col>
        </v-col>

        <v-col align="center">
          <div class="my-2">
            <v-btn :disabled="activeButton()" width="190" height="50" @click="signUp" class="btn register-btn" v-translate>Register</v-btn>
          </div>
        </v-col>
      </v-col>
    </v-row>

    <v-row no-gutters class="footer">
      <v-col cols="5" class="footer-logo-wrapper">
        <v-img :src="require('../../assets/images/footer-icon.svg')" width="176px" height="30px"/>
      </v-col>
    </v-row>

    <v-row  no-gutters class="footer support-text">
      <div>
        <span v-translate>I have an account.</span>
        <a class="blue-text" @click="signInAccount"><u v-translate>Sign in</u></a>
      </div>

    </v-row>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';
import './style.scss'
import { log } from 'util';
export default {
  data: () => ({
    email: null,
    password: null,
    confirmPassword:null,
    showMessage: false,
    message: '',
    agreeTerm: false,
    toolTipPosition: 'right'
  }),
  watch: {
  },
  methods: {
    ...mapActions('registration', ['signUpAccount']),
    ...mapActions(['changeGlobalState']),
    signInAccount () {
      this.$router.push({ name: 'login' })
    },
    activeButton(){
      return (this.email === null || !this.password || !this.confirmPassword || (this.password !== this.confirmPassword)  || !this.agreeTerm)
    },
    async signUp(){
      if (this.email === '') {
        this.showTooltip(this.$gettext('Email is required'));
        return;
      }

      const formData = new FormData();
      formData.append("email", this.email);
      formData.append("password", this.password);
      formData.append("confirmPassword", this.confirmPassword);

      // Show loading
      this.changeGlobalState({key: 'loading', value: true});

      // Call sign up account
      let result = await this.signUpAccount(formData);

      if(!result){
        // Hide loading
        this.changeGlobalState({key: 'loading', value: false});

        this.showTooltip(this.$gettext('Internal server error.'));

        return;
      }

      let { data } = result;
      // Error happens
      if(data.error){
        // Hide loading
        this.changeGlobalState({key: 'loading', value: false});

        this.showTooltip(data.errors[0].errorMessage);
      }else{
        // Hide loading
        this.changeGlobalState({key: 'loading', value: false});

        this.$router.push('/login')
      }
    },
    showTooltip (message) {
      // Get width
      if(window.innerWidth < 968){
        this.toolTipPosition = 'bottom'
      }else{
        this.toolTipPosition = 'right'
      }

      this.message = message;
      this.showMessage = true;

      // Hide after 5s
      setTimeout(() => {
        this.showMessage = false
      }, 5000)
    }
  }
}
</script>

<style>
.input-field div.v-input__slot {
  background-color: #dcdcdc !important;
}
</style>
