html { overflow-y: auto !important; }

#app {
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: normal;
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  background-color: white;
  /* padding-top: 20px; */
}

.logo-wrapper, .home-logo{
  .v-image{
    @media(max-width: $mw-mobile) {
      height: 30px !important;
      width: 147px !important;
    }
  }
  @media(max-width: $mw-mobile) {
    position: absolute !important;
    top: 15px;
  }
}

.home-logo{
  &.v-image{
    @media(max-width: $mw-mobile) {
      height: 30px !important;
      width: 147px !important;
      max-height: 30px !important;
      max-width: 147px !important;
    }
  }
}

.blue-text{
  color: $color-dark-blue !important;
}

.link-text{
  color: $color-dark-blue !important;
  font-size: 12px;

  @media(max-width: $mw-mobile) {
    font-size: 16px;
  }
}

.primary-btn{
  height: 50px !important;
  width: 190px;
  font-size: 16px !important;
  letter-spacing: unset !important;
  font-weight: normal !important;
  box-shadow: none !important;
  &.de{
    width: 220px;
  }
}

.error-btn{
  height: 50px !important;
  width: 190px;
  font-size: 16px !important;
  letter-spacing: unset !important;
  font-weight: normal !important;
  background: #6e1501 !important;
}

.back-grey-text{
  font-size: 12px;
  color: $color-light-grey !important;
  position: absolute;
  top: 25px;
  left: 60px;

  @media(max-width: $mw-mobile) {
    display: none;
  }
}

.v-label{
  &.theme--light{
    color: $color-light-grey !important;
  }
}

.no-padding-top{
  padding-top: 0 !important;
}

.back-btn-wrapper{
  position: absolute;
  left: 0;
  cursor: pointer;

  @media(max-width: $mw-mobile) {
    position: relative;
  }
}

.back-btn{
  width: 40px;
  height: 40px;

  @media(max-width: $mw-mobile) {
    overflow: auto;
    position: absolute;
    top: -10px;
  }

}

.relative-position{
  position: relative;
}

.no-padding{
  padding: 0 !important;
}

.no-padding-bottom{
  padding-bottom: 0 !important;
}

.v-tooltip__content::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.show-on-left{
  color: $color-gentle-black;
  background: $color-white !important;
  display: flex !important;
  align-items: center;
  border: 1px solid #F0F0F0;
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.07);
  border-radius: 3px;
  min-width: 425px !important;
  height: 30px !important;
  padding: 0 !important;
  &.header-notification{
    @media(max-width: $mw-mobile) {
      display: none !important;
    }
  }
  .close-text{
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: $color-gentle-black;
    &.float-right{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  &.v-tooltip__content{
    pointer-events: all;
    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 100%; /* To the right of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent $color-white;
    }
  }
}

.show-on-bottom{
  color: $color-gentle-black;
  background: $color-white !important;
  display: flex !important;
  align-items: center;
  border: 1px solid #F0F0F0;
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.07);
  border-radius: 3px;
  //min-width: 425px !important;
  opacity: 1 !important;
  .close-text{
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: $color-gentle-black;
    &.float-right{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  &.v-tooltip__content{
    pointer-events: all;
    padding: 0;
    width: 314px;
    height: 420px;
    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;  /* At the top of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      top: unset !important;
      border-color: transparent transparent $color-white transparent;
    }
  }
}

.show-on-top{
  color: $color-gentle-black;
  background: #f9f9f9 !important;
  display: flex !important;
  align-items: center;
  border: 1px solid #000;
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.07);
  border-radius: 3px;
  width: calc(100% - 35px) !important;
  height: 50px !important;
  padding: 17.5px 0 17.5px 15px !important;
  .close-text{
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    color: $color-gentle-black;
    &.float-right{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  &.mobile-operation-noti{
    &.black-bg{
      background: $color-black !important;
      .push-text{
        color: $color-white;
        .warning-icon{
          color: $color-hard-yellow;
          margin-right: 7px;
        }
      }

      &::after {
        display: none;
      }
    }

    .hourglass-icon{
      color: $color-gentle-black !important;
      margin-right: 7px;
    }

    &.v-tooltip__content{
      pointer-events: all;
      &::before {

        content: " ";
        position: absolute;
        top: 103%;
        left: auto;
        right: 15px;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
      }

      &::after {
        content: " ";
        position: absolute;
        top: 110%;
        /* bottom: 0; */
        left: auto;
        right: 15px;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: white transparent transparent transparent;
      }
    }
  }
  .push-text{
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    color: $color-gentle-black;
  }
  &.v-tooltip__content{
    pointer-events: all;
    &::before {

      content: " ";
      position: absolute;
      top: 103%;
      /* bottom: 0; */
      left: 30px;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
    &::after {
      content: " ";
      position: absolute;
      top: 110%;
      /* bottom: 0; */
      left: 30px;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: white transparent transparent transparent;
    }
  }

  @media(min-width: $mw-mobile) {
    &.hide-desktop{
      display: none !important;
    }
  }
}

.vertical-align-center{
  align-items: center;
}

.bold-500{
  font-weight: 500;
}

.text-align-right{
  text-align: right;
}

.no-border-radius-right{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.no-border-radius-left{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.error-modal{
  padding-bottom: 10px;
  .headline, .v-card__actions{
    justify-content: center;
  }
  .v-card__text{
    text-align: center;
  }
}

.input-tooltip{
  min-height: 48px;
  display: flex !important;
  align-items: center;

  &.mobile-show-bottom{
    &::after{
      content: " ";
      position: absolute;
      top: -5px;
      left: 10px;
      margin-left: 5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent black transparent;
    }
  }
}

.p-l-15{
  padding-left: 15px !important;
}

.p-t-7{
  padding-top: 7px !important;
}

.p-b-8{
  padding-bottom: 8px !important;
}

.form-container{
  margin-left: 0 !important;
  @media(max-width: $mw-mobile) {
    margin-right: 0 !important;
  }
  .form-wrapper{
    @media(max-width: $mw-mobile) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .forgot-password-wrapper{
    @media(max-width: $mw-mobile) {
      margin-top: 10px;
    }
  }
}

.footer-logo-wrapper{
  @media(max-width: $mw-mobile) {
    margin: 0 auto;
  }
}

.float-right{
  float: right;
}

.input-field.error-border{
  border: 1px solid $color-yellow
}

.p-l-r-15{
  padding: 0 15px;
}

#hexagon {
  height: 200px;
  width: 120px;
  background: $color-yellow;
  position:relative;
  left:50px;
  box-sizing: border-box;
}
#hexagon::before, #hexagon::after {
  content:"";
  position: absolute;
  height: 0;
  width: 0;
  top:0;
  /* half height */
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
}
#hexagon::before {
  left:-50px;
  border-right:50px solid $color-yellow;
}
#hexagon::after {
  right:-50px;
  border-left:50px solid $color-yellow;
}

.hidden{
  display: none !important;
}

