@charset "UTF-8";

@font-face {
  font-family: 'Sora';
  src: url('../assets/fonts/Sora-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('../assets/fonts/Sora-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('../assets/fonts/Sora-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
