// Colors
$color-dark-blue: #1F37B6;
$color-light-grey: rgba(24, 24, 24, 0.33);
$color-extra-light-grey: #F9F9F9;
$color-gentle-black: #181818;
$color-black: #000;
$color-yellow: #E6B714;
$color-hard-yellow: #E6B714;
$color-white: #fFF;
$color-normal-grey: #F0F0F0;


// Fonts
$df-fs: 16;
$rem: 1rem;
$vw: 1vw;
$mw-mobile: 968px;
$mw-tablet: 1023px;


