<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <style type="text/css">
        body{
            background: #e1e1e1;
            font-family: 'Roboto';
            font-style: normal;
            font-stretch: normal;
        }
        .wrapper-email{
            width:768px;
            min-height:448px;
            margin:0 auto;
            background: #fff;
            /*border:1px solid #e0e0e0;*/
            /*padding:24px 24px 0;*/
            font-size: 15px;
        }
        .logo{
            width: 100%;
            height: 64px;
            margin:0 auto;
            text-align: center;
            /*border-bottom: 1px solid #e0e0e0;*/
        }
        .content-email{
            /*border:1px solid #e0e0e0;*/
            position: relative;
            background: #fff;
            padding:20px 20px 0 20px;
        }

        .content-email.head{
            height: 50px;
            border-bottom: 1px solid #e0e0e0;
        }

        .item-email{
            /*padding:25px 27px 16px 27px;*/
            /*border-bottom: 1px solid #e0e0e0;*/
        }
        .item-email p{
            margin: 15px 0;
            line-height: 1.36;
            letter-spacing:0.3px;
            color:#212121;
        }
        .item-email a{
            color:#917bd5;
        }
        .item-email:last-child{
            border:none;
        }
        .email-footer{
            font-size:11px;
            letter-spacing: 0.3px;
            color:#9e9e9e;
            margin-top:15px;
        }
        .email-footer span{
            color:#917bd5;
        }
        .activate-button{
            background: #07529C;
            color: white;
            border: none;
            padding: 15px;
            display: block;
            margin: 0 auto;
            border-radius: 5px;
            width: 115px;
            text-align: center;
        }
        p{
            margin: 10px 0;
        }
        img{
            width: auto;
            height: 29px;
            float: left;
        }

        .sign-in{
            position: absolute;
            right: 32px;
            top: 30px;
        }
    </style>
</head>
<body>
<div class="wrapper-email">
    <div class="content-email head">
        <div class="logo">
            <img src="https://teamar.redsoftsystems.com/logo.png" />
        </div>

        <div class="sign-in" style="float: right;">
            <span>Sign in</span>
        </div>
    </div>
    <div class="content-email">
        <div class="item-email">
            <p>
                Hello {{name}},
            </p>
            <p>
                Welcome to <b>Auction Live</b>
            </p>
            <p>
                To activate your account please click the button below to verify your email address:
            </p>
            <div class="activate-button" href="{{url}}">
                Activate Account
            </div>
        </div>
        <div class="item-email">
            <p>
                Or paste this link into your browser:
            </p>
            <a href="{{url}}">
                {{url}}
            </a>
            <p>
                Question? Please visit our <span style="color: #07529C">Support Center</span>
            </p>
        </div>
    </div>
    <div class="email-footer">
    </div>
</div>
</body>
</html>
