<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <style type="text/css">
        .wrapper-email{
            width:768px;
            min-height:448px;
            margin:0 auto;
            background: #f5f5f5;
            border:1px solid #e0e0e0;
            padding:24px 24px 0;
            font-size: 15px;
        }
        .logo{
            /* width:66px; */
            height: 64px;
            margin:0 auto;
            text-align: center;
            border-bottom: 1px solid #e0e0e0;
        }
        .content-email{
            border:1px solid #e0e0e0;
            position: relative;
            background: #fff;
            padding:24px 0 16px 0;
        }
        .item-email{
            padding:25px 27px 16px 27px;
            border-bottom: 1px solid #e0e0e0;
        }
        .item-email p{
            margin: 0;
            line-height: 1.36;
            letter-spacing:0.3px;
            color:#212121;
        }
        .item-email a{
            color:#917bd5;
        }
        .item-email:last-child{
            border:none;
        }
        .email-footer{
            font-size:11px;
            letter-spacing: 0.3px;
            color:#9e9e9e;
            margin-top:15px;
        }
        .email-footer span{
            color:#917bd5;
        }
    </style>
</head>
<body>
<div class="wrapper-email">
    <div class="content-email1" style="
			width:100%;
			height:8px;
			background-color:#663366;">
    </div>
    <div class="content-email">
        <div class="item-email">
            <p>
                Hi {{name}},
            </p>
            <p>
                Someone, hopefully you, requested that the password associated with the email address <a href="mailto:{{email}} ">{{email}} </a> be reset.
            </p>
        </div>
        <div class="item-email">
            <p>
                Should you wish to confirm this request, please follow this link:
            </p>
            <a href="{{url}}">
                {{url}}
            </a>
            <p>
                You will be prompted to choose a new password.
            </p>
        </div>
        <div class="item-email">
            <p>
                If you did not request this, please ignore this email.
            </p>
            <p>
                Your Sincerely,
            </p>
            <p>
                Auction Live team
            </p>
        </div>
    </div>
    <div class="email-footer">
        Delivered by Auction Live Team. You may <span>unsubscribe</span> if you prefer not to receive messages like these.
    </div>
</div>
</body>
</html>
