<template>
  <v-app id="app">
    <navigation v-if="isLoggedIn()"></navigation>
    <transition v-else>
        <keep-alive> <router-view/> </keep-alive>
      </transition>

    <v-overlay :value="loading" z-index="9999">
      <v-progress-circular
        indeterminate
        color="primary"
      ></v-progress-circular>
    </v-overlay>

    <v-dialog
      v-model="error"
      max-width="290"
    >
      <v-card class="error-modal">
        <v-card-title class="headline">Error</v-card-title>

        <v-card-text>
          {{errorMessage}}
        </v-card-text>

        <v-card-actions>
          <v-btn
            class="btn error-btn"
            @click="closeErrorModal()"
          >
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
// Libraries
import Vue from 'vue'
import { mapState, mapActions } from 'vuex';
import * as _ from 'lodash'
import axios from 'axios';
import { getAuthToken, setAuthToken, removeAuthToken } from './utils'

import SocketClient from './utils/socket'


// Components
import navigation from './components/nav';


export default {
  components: {
    navigation
  },
  async created(){
    // Set default language
    console.log(`Set default language to ${Vue.config.language}`)
    axios.defaults.headers.common['lang'] = Vue.config.language;

    // Add interceptors
    axios.interceptors.request.use(
      (config) => {
        // Check if Auth header is not available
        if (!config.headers.Authorization) {
          const token = getAuthToken();

          // Token is available
          if (!_.isEmpty(token)){
            // Add to request header
            config.headers.Authorization = `Bearer ${token}`;
          }
        }

        return config;
      },
      error => Promise.reject(error)
    );

    // Interceptors for 401 error
    axios.interceptors.response.use(
      response => response,
      (error) => {
        if (error && error.response) {
          const { status = 0 } = error.response;

          // Un authorize error
          if (status === 401) {
            // Remove auth token
            removeAuthToken();

            // Only redirect to login page when user are in other page
            if(window.location.pathname !== '/login'){
              // Back to login page
              this.$router.replace('/login')
            }
          }
        }
        return Promise.reject(error);
      }
    );

    // User already logged in
    if (!_.isEmpty(getAuthToken())){
      // Get profile
      let networkStatus = await this.getUserProfile();


      if(networkStatus){
        console.log('Network is available, try to connect to socket');

        // Connect to socket
        let socketInstance = SocketClient.connectSocket(process.env.VUE_APP_SERVER, {token: getAuthToken()});

        let that = this;
        socketInstance.on('connect', function (msg) {
          // Store this connection in global store
          that.changeGlobalState({key: 'socketInstance', value: socketInstance});

          console.log('Connect to socket successfully.');

          socketInstance.on('error', (error) => {
            console.log(error)
          });

          // socketInstance.on('resume', (data) => {
          //   console.log('------ Resume')
          //   this.showLoading = false;
          // });
        });
      }


    }
  },
  data: () => ({}),
  watch: {},
  computed: {
    ...mapState(['loading', 'userProfile', 'error', 'errorMessage']),
  },
  methods: {
    ...mapActions(['changeGlobalState', 'getUserProfile']),
    isLoggedIn(){
      return !_.isEmpty(this.userProfile)
    },
    closeErrorModal(){
      this.changeGlobalState({key: 'error', value: false})
    }
  }
}

</script>
