<template>
  <v-container class="lighten-5 reset-password-container" id="container">
    <v-row class="justify-center vertical-align-center" @click="signInAccount">
      <v-col cols="12" sm="12" md="12" lg="12" class="back-btn-wrapper">
        <v-img class="back-btn" :src="require('../../assets/images/back-btn.svg')" @click="signInAccount">
        </v-img>
        <span class="back-grey-text" v-translate>Back to aution house main page</span>
      </v-col>
      <div class="logo-wrapper"><v-img :src="require('../../assets/logo.svg')" height="40px" width="196px"/></div>
    </v-row>

    <v-row align="center" class="form-container">
      <v-col align="center">
        <div class="form-title" v-translate>Password reset</div>
        <v-col class="form-wrapper">
          <v-col align="center">
            <v-tooltip  v-model="showMessage" open-on-hover:false :right="toolTipPosition === 'right'" :bottom="toolTipPosition === 'bottom'" :nudge-left="toolTipPosition === 'bottom' ? 15 : 0" :content-class="`input-tooltip ${toolTipPosition === 'bottom' ? 'mobile-show-bottom' : ''}`">
              <template v-slot:activator="{ on }">
                <v-text-field
                  hide-details="true"
                  v-model="email"
                  :label="$gettext('Email')"
                  solo
                  style="cursor:auto"
                  class="input-field"
                  v-bind:class="{'error-border': showMessage}"
                ></v-text-field>
              </template>
              <span>{{message}}</span>
            </v-tooltip>
          </v-col>
        </v-col>

        <v-col align="center" class="no-padding-bottom">
          <v-btn :disabled="activeButton()" width="190" height="50"  class="btn reset-password-btn" @click="requestResetPassword" v-translate>Reset password</v-btn>
        </v-col>
        <v-col align="center" class="no-padding">
          <a @click="backToSignIn" class="back-sign-in-text blue-text"><u v-translate>Back to sign in form</u></a>
        </v-col>
      </v-col>
    </v-row>

    <v-row no-gutters class="footer">
      <v-col cols="5"  class="footer-logo-wrapper">
        <v-img :src="require('../../assets/images/footer-icon.svg')" width="176px" height="30px"/>
      </v-col>
    </v-row>

    <v-row  no-gutters class="footer support-text">
      <div>
        <span v-translate>Don't have an account?</span>
        <a class="blue-text" @click="backToSignUp"><u v-translate> Sign Up</u></a>
      </div>

    </v-row>


  </v-container>
</template>

<script>
  import { mapActions } from 'vuex';
  import './style.scss';


export default {
  data: () => ({
    email: null,
    showMessage: false,
    message: '',
    toolTipPosition: 'right'
  }),
  watch: {
  },
  methods: {
    ...mapActions('resetPassword', ['resetPassword']),
    ...mapActions(['changeGlobalState']),
    activeButton(){
      return (!this.email)
    },
    signInAccount () {
      this.$router.push({ name: 'login' })
    },
    async requestResetPassword(){
      if (this.email === '') {
        this.showTooltip(this.$gettext('Email is required'));
        return;
      }

      let resetData = {
        email: this.email
      };

      // Show loading
      this.changeGlobalState({key: 'loading', value: true});

      // Call sign up account
      let result = await this.resetPassword(resetData);

      if(!result){
        // Hide loading
        this.changeGlobalState({key: 'loading', value: false});

        this.showTooltip(this.$gettext('Internal server error.'));

        return;
      }

      let { data } = result;

      // Error happens
      if(data.error){

        // Hide loading
        this.changeGlobalState({key: 'loading', value: false});

        this.showTooltip(data.errors[0].errorMessage);
      }else{
        // Hide loading
        this.changeGlobalState({key: 'loading', value: false});

        this.$router.push('/login')
      }
    },
    backToSignIn(){
      this.$router.push('/login')
    },
    backToSignUp(){
      this.$router.push('/registration')
    },
    showTooltip (message) {
      // Get width
      if(window.innerWidth < 968){
        this.toolTipPosition = 'bottom'
      }else{
        this.toolTipPosition = 'right'
      }

      this.message = message;
      this.showMessage = true;

      // Hide after 5s
      setTimeout(() => {
        this.showMessage = false
      }, 5000)
    }
  }
}
</script>

<style>
.input-field div.v-input__slot {
  background-color: #dcdcdc !important;
}
</style>
