@import 'src/global/variable';

.reset-password-container{
  height: 100%;
  position: relative;
  .form-container{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    @media(max-width: $mw-mobile) {
      margin-top: 65px;
      position: relative;
      top: unset;
      transform: unset;
      left: unset;
    }
  }

  .form-title{
    font-size: 24px;
    line-height: 25px;
    color: $color-gentle-black;
  }

  .footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 20px;

    @media(max-width: $mw-mobile) {
      margin-bottom: 0;
      left: 0;
    }

    &.support-text{
      justify-content: center;
      color: $color-gentle-black;

      @media(max-width: $mw-mobile) {
        bottom: 40px;
      }
    }

    .v-image{
      @media(max-width: $mw-mobile) {
        margin: 0 auto;
        max-width: none !important;
      }
    }
  }

  .reset-password-btn{
    font-size: 16px !important;
    margin-top: -5px;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 10px;
    letter-spacing: normal;

    @media(max-width: $mw-mobile) {
      width: 100% !important;
      max-width: 400px;
    }
  }

  .back-sign-in-text{
    font-size: 12px;
  }

  .input-field{
    width: 400px !important;
    max-width: unset !important;
    margin-bottom: 10px !important;

    @media(max-width: $mw-mobile) {
      max-width: 100% !important;
    }
  }
}

