<template >
  <div class="auction-container">
    <v-row no-gutters class="auction-wrapper">

      <v-col cols="12" class="article-wrapper mobile-view" style="height: 100%"sm="12" xs="12">
        <v-row class="title-wrapper" no-gutters>
          <v-col cols="12" lg="8" md="8" sm="12" xs="12">
            <div class="title">{{ongoingArticle.name}}</div>
          </v-col>
          <v-col cols="12" lg="4" md="4" sm="12" xs="12" style="text-align:right">
            <v-row class="price-wrapper no-gutters first-item">
              <span class="light-title" v-translate>Estimated price</span>&nbsp;
              <span class="price-value">&euro;{{parseFloat(ongoingArticle.limit)}}-{{parseFloat(ongoingArticle.estimated_price)}}</span>
            </v-row>
            <v-row class="price-wrapper no-gutters">
              <span  class="light-title" v-translate>Article</span>&nbsp;
              <span class="price-value">#{{ongoingArticle.code}}</span>
            </v-row>
          </v-col>
        </v-row>
      </v-col>

      <v-col class="image-slider-wrapper" cols="12" style="height: 100%" lg="7" md="7" sm="12" xs="12">
        <VueSlickCarousel :arrows="true" :dots="false" class="slider-container">
          <template #prevArrow="arrowOption">
            <div class="custom-arrow">
              <v-icon class="arrow-left">keyboard_arrow_left</v-icon>
            </div>
          </template>

          <template #nextArrow="arrowOption">
            <div class="custom-arrow">
              <v-icon class="arrow-right">keyboard_arrow_right</v-icon>
            </div>
          </template>
          <div class="image-item">
            <v-img class="article-image" :src="require('../../assets/images/sample-image.png')" height="430px"width="80%" />
          </div>
          <div>
            <v-img class="article-image" :src="require('../../assets/images/sample-image.png')" height="430px" width="80%"/>
          </div>
          <div>
            <v-img class="article-image" :src="require('../../assets/images/sample-image.png')" height="430px" width="80%"/>
          </div>
          <div>
            <v-img class="article-image" :src="require('../../assets/images/sample-image.png')" height="430px" width="80%"/>
          </div>
        </VueSlickCarousel>
      </v-col>

      <div class="highest-price mobile-view">
        <span v-translate>Current highest bid</span>
        <span class="bold-500 bid-value float-right">&euro;{{parseFloat(currentHighestBid.value)}}</span>
      </div>

      <v-row class="article-description mobile-view" no-gutters>
        <div>
          {{ongoingArticle.description}}}
        </div>
      </v-row>

      <v-col style="height: 100%" class="article-wrapper" lg="5" md="5" sm="12" xs="12">

        <v-row class="title-wrapper" no-gutters>
          <v-col lg="8" md="8" sm="12" xs="12">
            <div class="title">{{ongoingArticle.name}}</div>
          </v-col>
          <v-col cols="4" lg="4" md="4" sm="12" xs="12" style="text-align:right">
            <v-row class="price-wrapper no-gutters">
              <span class="light-title" v-translate>Estimated price</span>&nbsp;
              <span class="price-value">&euro;{{parseFloat(ongoingArticle.limit)}}-{{parseFloat(ongoingArticle.estimated_price)}}</span>
            </v-row>
            <v-row class="price-wrapper no-gutters">
              <span  class="light-title" v-translate>Article</span>&nbsp;
              <span class="price-value">#{{ongoingArticle.code}}</span>
            </v-row>
          </v-col>
        </v-row>


        <v-row class="mb-6" justify="center" no-gutters>
          <v-col lg="6" md="6" sm="12" xs="12" class="current-highest-bid-block">
            <div v-if="ongoingArticle.status === '2'" class="pa-3">
              <span v-if="userProfile.id !== currentHighestBid.id" v-translate>Current highest bid</span>
              <span v-if="userProfile.id === currentHighestBid.id" v-translate>You're the highest bidder!</span>
              <br/>
              <span class="bold-500 bid-value">&euro;{{parseFloat(currentHighestBid.value)}}</span>
            </div>
          </v-col>
          <v-col v-if="ongoingArticle.status === '2'" lg="6" md="6" sm="12" xs="12" class="current-highest-bid-block">
            <div class="pa-3 text-align-right">
              <v-btn :class="`new-bid-btn ${$language.current}`" @click="doABid()" :disabled="userProfile.id === currentHighestBid.id">
                <v-icon class="add-new-icon">add_circle</v-icon>
                <span v-translate>
                New Bid</span>
                <span v-if="!expectValue">(&euro;{{parseFloat((currentHighestBid.value ? currentHighestBid.value : currentHighestBid.articleValue)+currentStepValue.bid_step)}})</span>
                <span v-if="expectValue">(&euro;{{expectValue}})</span>
              </v-btn>
            </div>
          </v-col>
        </v-row>


        <v-row class="article-description" no-gutters>
          <div>
            {{ongoingArticle.description}}}
          </div>
        </v-row>


      </v-col>
    </v-row>

<!--    Start mobile notification page-->
    <v-row v-if="currentMobilePage === 0" no-gutters class="noti-auction-wrapper">
      <v-img class="logo" :src="require('../../assets/logo.svg')" max-width="196px" max-height="30px" width="147px" height="30px" />
      <div class="noti-close-btn-wrapper">
        <v-btn class="" @click="switchBottomPanel(1)">
          <v-icon  class="close-modal-icon">close</v-icon>
        </v-btn>
      </div>

      <div class="notification-wrapper">
        <div class="notification-title">
          <span v-translate>Notification center</span>
        </div>

        <v-card class="notification-card-mobile no-gutters">

          <v-list two-line>
            <v-list-item-group
              multiple
            >
              <template v-for="(item, index) in notificationList">
                <v-list-item :key="item.title" v-bind:class="{inactive: item.is_read}" @click="readNotification(item.id)">
                  <template v-slot:default="{ active, toggle }">
                    <v-list-item-content>
                      <!--<v-list-item-subtitle class="text&#45;&#45;primary" v-text="item.text"></v-list-item-subtitle>-->
                      <span>{{item.message}} <span class="item-text">@{{item.article.name}}</span></span>
                    </v-list-item-content>

                    <v-list-item-action>
                      <v-list-item-action-text class="time-ago-text" v-text="moment(item.sent_time).fromNow()"></v-list-item-action-text>
                    </v-list-item-action>
                  </template>
                </v-list-item>

                <v-divider
                  v-if="index + 1 < notificationList.length"
                  :key="index"
                ></v-divider>
              </template>
            </v-list-item-group>
          </v-list>
        </v-card>
      </div>


    </v-row>
<!--    Stop mobile notification page-->

    <!--    Start mobile article list -->
    <v-row v-if="currentMobilePage === 2" no-gutters class="article-auction-wrapper">
      <v-img class="logo" :src="require('../../assets/logo.svg')" max-width="196px" max-height="30px" width="147px" height="30px" />
      <div class="noti-close-btn-wrapper">
        <v-btn class="" @click="switchBottomPanel(1)">
          <v-icon  class="close-modal-icon">close</v-icon>
        </v-btn>
      </div>

      <div class="article-overview-text">
        <span><span v-translate>Article overview</span> ({{currentAuction.articleList ? currentAuction.articleList.length: 0}})</span>
      </div>

      <v-card
        class="article-list"
        outlined
      >
        <v-list-item three-line
                     v-for="(item,index) in currentAuction.articleList"
                     :key="item.id"
                     class="article-item"
                     v-bind:class="{deactive: (item.status === '0' || item.status === '2')}"
                     @click="selectArticle(index)"
        >
          <v-list-item-avatar
            tile
            size="120"
            color="grey"
          >
            <v-img
              :src="require('../../assets/images/sample-image.png')"
              height="170px" width="170px"
              style="margin: 0 auto;"
            />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-subtitle class="mb-4 article-mobile-text">{{item.name}}</v-list-item-subtitle>
            <v-list-item-subtitle class="mb-4 article-mobile-text">
              <span v-translate>Estimated price</span> €{{parseFloat(item.limit)}}—{{parseFloat(item.estimated_price)}}<br/>
              <span v-translate>Article</span> #{{item.code}}
            </v-list-item-subtitle>
            <v-list-item-subtitle class="article-mobile-text" v-if="item.status === '2'" v-translate>Current</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>


    </v-row>
    <!--Stop mobile article list-->

<!--    Start bottom navigation bar-->
    <v-row v-if="showBottomNavigation" class="bottom-navigation-bar">
      <v-badge class="navigation-noti" color="#000" :content="getNotificationNumber()" offset-y="24" offset-x="25">
        <v-tooltip v-model="showNotiTooltip" :content-class="`show-on-top hide-desktop`" nudge-top="20" top allow-overflow internal-activator>
          <template v-slot:activator="{ on, attrs }">
            <v-btn :class="`noti-block ${currentMobilePage === 0 ? 'active' : ''}`" width="55px" height="50px" icon @click="switchBottomPanel(0)">
              <v-icon>notifications_none</v-icon>
            </v-btn>
          </template>
          <span>
              <span class="close-text">{{notificationMessage}}</span>
              <span class="close-text float-right" @click="closeNotiTooltip()" v-translate>CLOSE</span>
            </span>
        </v-tooltip>
      </v-badge>

      <v-btn :class="`article-overview-block ${currentMobilePage === 2 ? 'active' : ''}`" width="55px" height="50px" icon @click="switchBottomPanel(2)">
        <v-icon>layers</v-icon>
      </v-btn>
      <div class="do-bid-block">
        <span v-if="userProfile.id !== currentHighestBid.id"><span v-translate>New Bid</span>
          <span v-if="!expectValue">(€{{parseFloat((currentHighestBid.value ? currentHighestBid.value : currentHighestBid.articleValue)+currentStepValue.bid_step)}})</span>
          <span v-if="expectValue">(&euro;{{expectValue}})</span>
        </span>
        <span v-if="userProfile.id === currentHighestBid.id" class="highest-price-text" v-translate>You're the highest bidder!</span>

        <v-tooltip v-model="showPushNotiTooltip" :content-class="`show-on-top hide-desktop mobile-operation-noti ${(showPushNotiTooltip && ongoingArticle.status === '2') ? 'black-bg' : ''}`" nudge-top="20" top allow-overflow internal-activator>
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="add-bid-circle-btn"  @click="doABid()" :disabled="userProfile.id === currentHighestBid.id || ongoingArticle.status !== '2'" width="50px" height="50px" icon>
              <v-icon>add_circle</v-icon>
            </v-btn>
          </template>
          <span v-if="ongoingArticle.status === '2'" class="push-text"><v-icon class="warning-icon">warning</v-icon>The article is about to be sold. <b>Bid now!</b></span>
          <span v-if="ongoingArticle.status === '1'" class="push-text"><v-icon class="hourglass-icon">hourglass_empty</v-icon>Waiting for bidding to start...</span>
        </v-tooltip>
      </div>
    </v-row>
<!--    Stop bottom navigation bar-->


<!--    Start footer crawler-->
    <v-row justify="center" class="footer-crawler no-gutters" v-bind:class="{'show-shadow': panelOpen === 0 }">
      <v-expansion-panels :readonly="true" accordion v-model="panelOpen"  @expand="onFocus($event, n)">
        <v-expansion-panel>
          <v-expansion-panel-header disable-icon-rotate>
            <v-col align="center"@click="doToggle(true)">
              <v-icon  class="arrow-up">keyboard_arrow_up</v-icon>
              <!--<v-icon v-if="panelOpen === 0" class="arrow-up">keyboard_arrow_down</v-icon>-->
              <span class="article-overview-text"><span v-translate>Articles Overview</span> ({{currentAuction.articleList ? currentAuction.articleList.length: 0}})</span>
          </v-col>
            <template v-slot:actions>
            <v-icon></v-icon>
          </template>
          </v-expansion-panel-header>
          <v-expansion-panel-content :key="0" class="article-list">
            <v-slide-group class="article-group" v-model="slideModel" active-class="success" show-arrows>
              <v-slide-item v-for="(item,index) in currentAuction.articleList" :key="item.id">
                <v-card
                  class="mx-auto ma-4 article-card"
                  elevation="0"
                  @click="selectArticle(index)"
                  v-bind:class="{deactive: (item.status === '0' || item.status === '2')}"
                >
                  <v-img
                    :src="require('../../assets/images/sample-image.png')"
                    height="170px" width="170px"
                    style="margin: 0 auto;"
                  />

                  <v-card-subtitle class="article-title">
                    {{item.name}}
                  </v-card-subtitle>

                  <v-card-subtitle class="article-description">
                    <span v-translate>Estimated price</span> €{{parseFloat(item.limit)}}—{{parseFloat(item.estimated_price)}}<br/>
                    <span v-translate>Article</span> #{{item.code}}
                  </v-card-subtitle>
                  <span v-if="item.status === '2'" class="status-text" v-translate>Current</span>
                </v-card>
              </v-slide-item>
            </v-slide-group>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>
<!--    End footer crawler-->

    <v-overlay class="custom-back-drop" v-if="toggleList === true">
      <div class="close-btn-wrapper">
        <v-btn id="close-list-btn" class="" @click="doToggle(false)">
          <span v-translate>Close</span>
          <v-icon  class="close-modal-icon">close</v-icon>
        </v-btn>

      </div>
    </v-overlay>

    <v-overlay class="custom-back-drop status-modal" v-if="loadingModal">
      <div class="message-box-wrapper">
        <div class="message-box">
          <div class="message-content">
            <v-progress-circular
              class="loading-icon"
              indeterminate
              color="#555"
            ></v-progress-circular>
            <br/>
            <span class="loading-message">{{getLoadingMessage()}}</span>
          </div>

        </div>
      </div>
    </v-overlay>


  </div>
</template>

<script>

import { mapState, mapActions, mapGetters } from 'vuex';
import {translate} from 'vue-gettext';

const {gettext: $gettext} = translate;

import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

import './style.scss'

const loadingMessage = {
  noLive: $gettext('No live auction has been started'),
  paused: $gettext('The auction has been paused. Please wait.'),
  connection: $gettext('Your connection has been interrupted. Trying to reconnect... '),
  suspended: $gettext('The auction has been temporarily suspended due to administrator connection issue. Please wait.')
};


export default {
  name: 'Auction',
  components: { VueSlickCarousel },
  async created(){

    let rs = await this.getCurrentActiveAuction();

    // Cant connect to server
    if(!rs){
     this.loadingType = 'connection';

      return;
    }

    // Show error
    if(rs.error){
      this.changeGlobalState([
        {key: 'error', value: true},
        {key: 'errorMessage', value: rs.errors[0].errorMessage},
      ]);

      return;
    }

    // Hide modal if auction is available
    if(rs.data){
      if(rs.data.status === 'paused'){
        this.changeState([{key: 'loadingModal', value: false}, {key: 'loadingType', value: 'paused'}])
      }

      // Auction is started and there is article to sell
      if(rs.data.status === 'started'){
        this.changeState({key: 'loadingModal', value: false})
      }

    }

    // Listener
    if(this.socketInstance){
      this.socketListener();
    }else{
      // Retry after 2s
      setTimeout(()=>{
        this.socketListener();
      },2000)
    }
  },
  data: () => ({
    visibleNotiList: false,
    slideModel: null,
    items: [],
    panelOpen: 1,
    toggleList: false,
    showNotiTooltip: false, // When user got higher bid
    notificationMessage: '',
    currentMobilePage: 1,
    showMobileArticleModal: false,
    // showPushNotiTooltip: false, // When admin fire bid warning event
  }),
  computed: {
    ...mapState('auction',['currentAuction', 'loadingModal', 'loadingType', 'showPushNotiTooltip']),
    ...mapState(['userProfile', 'socketInstance', 'notificationList', 'showBottomNavigation']),
    ...mapGetters('auction',['ongoingArticle', 'currentHighestBid', 'formattedCurrentAuction', 'currentStepValue', 'expectValue'])
  },
  methods: {
    ...mapActions('auction',['getCurrentActiveAuction', 'doBid', 'changeState']),
    ...mapActions(['changeGlobalState', 'getNotification', 'markReadNotification']),

    // LIsten event from socket server
    socketListener(){
      let that = this;

      // New bid
      if(!this.socketInstance._callbacks.$updateBid){
        this.socketInstance.on('updateBid', (data) => {
          // Store
          this.changeState({key: 'currentAuction', value: data});

          this.changeState({key: 'loadingModal', value: false})
        });
      }

      // Pause
      if(!this.socketInstance._callbacks.$pause){
        this.socketInstance.on('pause', (data) => {
          this.changeState([{key: 'loadingModal', value: true}, {key: 'loadingType', value: 'paused'}])
        });
      }


      // Resume
      if(!this.socketInstance._callbacks.$resume){
        this.socketInstance.on('resume', async(data) => {
          // Refresh all data
          await this.getCurrentActiveAuction()

          this.changeState({key: 'loadingModal', value: false})
        });
      }

      // Stop
      if(!this.socketInstance._callbacks.$stop){
        this.socketInstance.on('stop', async(data) => {
          // Refresh all data
          await this.getCurrentActiveAuction()

          this.changeState([{key: 'loadingModal', value: true}, {key: 'loadingType', value: 'noLive'}])
        });
      }

      // Admin warning
      if(!this.socketInstance._callbacks.$bidWarning){
        this.socketInstance.on('bidWarning', (data) => {
          this.changeState({key: 'showPushNotiTooltip', value: true})

          // Hide after 5s
          setTimeout(()=>{
            this.changeState({key: 'showPushNotiTooltip', value: false})
          },5000)
        });
      }


      // Admin mark item is sold
      if(!this.socketInstance._callbacks.$sellItem){
        this.socketInstance.on('sellItem', async (data) => {
          // Refresh all data
          await this.getCurrentActiveAuction()
        });
      }

      // Notification
      this.socketInstance.on('notification', async(data) => {
        console.log(data)
        this.showNotiTooltip = true;
        this.notificationMessage = data;

        // Load notification
        await this.getNotification();
      });
    },
    // Do a bid
    async doABid(){
      // Expect value is set
      if(this.expectValue){
        await this.doBid({auctionId: this.currentAuction.id, articleId: this.ongoingArticle.id, bid: parseFloat(this.expectValue)})
      }else{
        await this.doBid({auctionId: this.currentAuction.id, articleId: this.ongoingArticle.id, bid: (parseFloat((this.currentHighestBid.value ? this.currentHighestBid.value : this.currentHighestBid.articleValue))+parseFloat(this.currentStepValue.bid_step))})
      }
    },
    getLoadingMessage(){
      return loadingMessage[this.loadingType];
    },
    doToggle(value, forceClose){
      if(forceClose){
        // Hit close button
        setTimeout(()=>{
          let element = document.getElementById("close-list-btn");
          // Fire click
          if(element){
            element.click();
          }
        })

        // this.panelOpen = 1;
      }else{
        // Only process if there is change
        this.toggleList = !this.toggleList;

        // Open or close list
        if(this.toggleList){
          this.panelOpen = 0;
        }else{
          this.panelOpen = 1;
        }
      }

    },
    showNotificationList () {
      this.visibleNotiList = !this.visibleNotiList
    },
    closeNotificationList () {
      this.visibleNotiList = false
    },
    onFocus(evt, value){
      console.log(value)
    },
    selectArticle(index){
      // Only can select on going and available item
      if(this.currentAuction.articleList[index].status !== '0'){
        this.doToggle(false, true);
        this.changeState({key: 'selectedArticle', value: index})

        // User choose non-sold article
        if(this.currentAuction.articleList[index].status === '1'){
          this.changeState({key: 'showPushNotiTooltip', value: true})
        }else{
          this.changeState({key: 'showPushNotiTooltip', value: false})
        }


        // On mobile view, hide article list modal
        this.currentMobilePage = 1;
      }
    },

    // Get notification count number
    getNotificationNumber(){
      return this.notificationList.length !== undefined ? (this.notificationList.length).toString() : 0
    },

    // Hide notification tooltip
    closeNotiTooltip(){
      this.showNotiTooltip = false;
    },

    // Close noti page
    closeNotiModal(){

    },

    // Mark notification as read
    async readNotification(id){
      await this.markReadNotification(id);

      await this.getNotification();
    },

    // Switch pages in bottom panel
    switchBottomPanel(value){
      this.currentMobilePage = value;
    }
  }
}
</script>
