@import 'src/global/variable';

.auction-container{
  height: 100%;
  padding: 0 60px;
  &.admin{
    .article-image{
      width: 100% !important;
    }
  }


  @media(max-width: $mw-mobile) {
    padding-left: 0;
    padding-right: 0;
  }

  .auction-wrapper{
    height: 430px;

    .article-image{
      margin: 0 auto;
      max-width: 595px;

      @media(max-width: $mw-mobile) {
        margin: 0 auto;
        max-width: 360px;
        height: 220px !important;
      }
    }

    .slick-slide{
      background: #F0F0F0;
      border-radius: 10px;
    }
  }

  .image-slider-wrapper{
    @media(max-width: $mw-mobile) {
      height: 220px !important;
      background: #f0f0f0;
      margin-top: 20px;
    }
  }
  .slider-container{
    height: 100%;
    overflow: hidden;
    max-width: 715px;
    margin: 0 auto;

    @media(max-width: $mw-mobile) {
      width: 100%;
      max-height: 220px;
    }

    .image-item{
      display: inherit !important;
    }
  }

  .slick-next{
    z-index: 99;
    right: 34px;
    @media(max-width: $mw-mobile) {
      right: 20px;
    }
    &::before{
      display: none;
    }
  }

  .slick-prev{
    z-index: 99;
    left: 15px;
    @media(max-width: $mw-mobile) {
      left: 0;
    }
    &::before{
      display: none;
    }
  }

  .custom-arrow{
    &.slick-prev{
      i{
        font-size: 40px;
        color: white;
        border-radius: 50%;
        background: rgba(24, 24, 24, 0.1);
      }
    }
    &.slick-next{
      i{
        font-size: 40px;
        color: white;
        border-radius: 50%;
        background: rgba(24, 24, 24, 0.1);
      }
    }
  }

  .current-highest-bid-block {
    height:50px;
    padding-left:16px;
    margin-top:5px;

    .bid-value{
      font-size: 24px;
    }

    .new-bid-btn{
      width: 177px;
      height: 50px !important;
      line-height: 20px;

      background-color: $color-yellow !important;
      border: 1px solid $color-yellow;
      box-sizing: border-box;
      box-shadow: 0 4px 13px rgba(230, 183, 20, 0.33);
      border-radius: 3px;
      color: $color-gentle-black;
      text-transform: none;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: unset;
      &.de{
        width: 210px !important;
      }

      .add-new-icon{
        margin: 15px 10px 15px 0;
      }

      &.v-btn--disabled{
        outline: none;
        box-shadow: none;
        border: none
      }
    }
  };
  .styleCol1 {
    height:50px;
    background-color:black;
    margin-top:5px; color:white
  }

  .article-wrapper{
    height: 100%;
    padding-left:20px !important;
    position: relative;

    &.mobile-view{
      display: block !important;
      padding: 0 20px !important;
      height: unset !important;

      @media(min-width: $mw-mobile) {
        display: none !important;
      }
    }

    @media(max-width: $mw-mobile) {
      display: none;
    }

    .title{
      font-size: 24px !important;
      line-height: 25px;
      color: $color-gentle-black;
    }

    .title-wrapper{
      border-bottom: 1px solid #f0f0f0;
      padding-bottom: 35px;
      @media(max-width: $mw-mobile) {
        border-bottom: none;
        padding-bottom: 0 !important;
      }
    }

    .price-wrapper{
      font-size: 12px;
      line-height: 15px;
      float: right;

      @media(max-width: $mw-mobile) {
        float: inherit !important;
        &.first-item{
          margin-top: 15px;
        }
      }

      .light-title{
        color: $color-light-grey;
        margin-right: 3px;
      }

      .price-value{
        color: $color-gentle-black
      }
    }

    .article-description{
      position: absolute;
      bottom: 0;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .article-description{
    &.mobile-view{
      font-size: 12px;
      line-height: 20px;
      padding: 20px;
      @media(min-width: $mw-mobile) {
        display: none;
      }
    }
  }

  .highest-price{
    width: 100%;
    padding: 0 20px;
    margin-top: 15px;
    &.mobile-view{
      @media(min-width: $mw-mobile) {
        display: none !important;
      }
    }
  }

  .footer-crawler{
    z-index: 200;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 10px;
    cursor: pointer;

    background: #FFFFFF;

    @media(max-width: $mw-mobile) {
      display: none;
    }


    &.show-shadow{
      border: 1px solid #F0F0F0;
      box-shadow: 0 0 15px rgba(24, 24, 24, 0.07);
      border-radius: 10px 10px 0 0;
    }

    .v-expansion-panel-header--active{
      .arrow-up{
        display: none;
      }
      .article-overview-text{
        font-size: 24px;
        line-height: 25px;
        color: $color-gentle-black
      }
    }

    .article-overview-text{
      font-size: 10px;
      color: $color-gentle-black
    }

    .v-expansion-panel-header{
      padding-bottom: 0;

      .arrow-up{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
        color: $color-gentle-black;
        font-size: 20px;
      }
    }
    .v-expansion-panels{
      width: 100%;
    }

    .v-expansion-panel{
      &:before{
        box-shadow: none !important;
      }
    }

    .article-list{
      .article-group{
        .article-card{
          min-height: 290px;
          width: 190px;
          padding: 10px 0;
          margin: 15px 10px !important;
          box-shadow: none;
          border: 1px solid #F0F0F0;
          &.deactive{
            opacity: 0.5;
          }
        }
        .v-slide-group__content{
          height: 50vh;
        }
        .article-title{
          font-size: 12px;
          color: $color-gentle-black
        }

        .article-description{
          font-size: 10px;
          padding-top: 0;
          color: $color-gentle-black
        }

        .v-slide-group__next, .v-slide-group__prev{
          .v-icon{
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background: #F9F9F9;
            color: $color-gentle-black;
            &:before{
              font-size: 16px;
            }
          }
        }
      }

      .status-text{
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .bottom-navigation-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 50px;
    height: 50px;
    margin-right: 0;
    background: white;
    right: 0;
    margin-left: 0;
    align-items: center;
    z-index: 9999;
    box-shadow: 0px 0px 15px rgba(24, 24, 24, 0.07);
    @media(min-width: $mw-mobile) {
      display: none;
    }
    .navigation-noti{
      z-index: 9999;
    }

    .noti-block{
      text-align: center;
      border-radius: 0;
      border-right: 1px solid #F0F0F0;
      color: $color-light-grey;
      &.active{
        color: $color-gentle-black;
        background: $color-normal-grey
      }
    }

    .article-overview-block{
      text-align: center;
      border-radius: 0;
      border-right: 1px solid #F0F0F0;
      color: $color-light-grey;
      &.active{
        color: $color-gentle-black;
        background: $color-normal-grey
      }
    }

    .do-bid-block{
      width: calc(100% - 110px);
      text-align: center;

      .highest-price-text{
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: unset;
        text-align: right;
        width: 103px;
        margin-right: 0;
        padding-right: 0;
        position: absolute;
        right: 80px;
        top: 10px;
      }
    }

    .add-bid-circle-btn{
      position: absolute;
      right: 10px;
      bottom: 10px;
      i{
        font-size: 60px;
        color: $color-yellow
      }
    }
  }

  .close-btn-wrapper{
    position: absolute;
    top: 20px;
    right: 60px;

    .close-modal-icon{
      font-size: 12px;
      width: 40px;
      height: 40px;
      background: #F9F9F9;;
      margin-left: 10px;
      border-radius: 50%;
    }

    button{
      text-transform: none;
      font-size: 12px;
      font-weight: normal;
      line-height: 20px;
      color: rgba(24, 24, 24, 0.33);
      background-color: transparent !important;
      box-shadow: none;
      letter-spacing: unset !important;
      &:before, &:focus:before, &:hover:before{
        background-color: transparent !important;
      }
    }
  }

  .custom-back-drop{
    z-index: 100 !important;
    .v-overlay__scrim{
      background-color: rgba(255, 255, 255, 0.8) !important;
      opacity: 1 !important;
    }
    backdrop-filter: blur(9px);
    .v-overlay__content{
      height: 100%;
      width: 100%;
    }
  }

  .status-modal{
    z-index: 99999 !important;
  }

  .message-box{
    position: absolute;
    width: 50%;
    max-width: 842px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(24, 24, 24, 0.07);
    border-radius: 10px;

    @media(max-width: $mw-mobile) {
      width: calc(100% - 40px);
      height: 220px;
    }

    .message-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;

      .warning-icon{
        color: $color-yellow;
        margin-bottom: 15px;
        font-size: 25px;
      }

      .button-list{
        margin-top: 17px;
        .yes-stop-btn{
          font-size: 12px !important;
          width: 113px !important;
          height: 40px !important;
          background-color: $color-white !important;
          color: $color-gentle-black !important;
          border: 1px solid $color-normal-grey;
          border-radius: 3px;
          margin-right: 10px;
        }

        .cancel-btn{
          font-size: 12px !important;
          width: 113px !important;
          height: 40px !important;
          background-color: $color-black !important;
          color: $color-white !important;
          border: 1px solid $color-normal-grey;
          border-radius: 3px;
        }
      }
    }

    .loading-icon{
      margin-bottom: 15px;
    }

    .loading-message{
      color: $color-gentle-black
    }
  }

  .noti-auction-wrapper{
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    top: 0;
    z-index: 999;
    background: $color-white;
    .logo{
      position: absolute;
      top: 15px;
      left: 20px;
    }

    .noti-close-btn-wrapper{
      position: absolute;
      top: 10px;
      right: 10px;

      .close-modal-icon{
        font-size: 20px;
        width: 40px;
        height: 40px;
        background: #F9F9F9;;
        border-radius: 50%;

      }

      button{
        padding: 0;
        text-transform: none;
        font-size: 20px;
        font-weight: normal;
        line-height: 20px;
        background-color: transparent !important;
        box-shadow: none;
        letter-spacing: unset !important;
        border-radius: 50% !important;
        border-radius: 50% !important;
        width: 40px;
        height: 40px;
        min-width: 40px;
        &:before, &:focus:before, &:hover:before{
          background-color: transparent !important;
        }
        .v-btn__content{
          justify-content: flex-end;
        }
      }
    }

    .notification-wrapper{
      width: 100%;
      max-width: 100% !important;
      padding-top: 90px;
      height: 100%;
      .notification-title{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 25px;
        color: $color-gentle-black;
        margin-bottom: 20px;
        padding: 0 25px;
      }
      .notification-card-mobile{
        width: 100%;
        max-width: 100% !important;
        height: calc(100% - 45px);
        overflow: scroll;
        font-size: 12px;
        line-height: 15px;

        .notification-content-list{
          border: 1px solid #F0F0F0;
          box-shadow: 0 0 15px rgba(24, 24, 24, 0.07) !important;
        }
        .v-list{
          padding-top: 0;
          //overflow: scroll;
          overflow-x: hidden;
          .v-list-item__content{
            padding: 10px;
            .item-text{
              color: $color-dark-blue
            }
            .v-list-item__subtitle{
              white-space: normal;
              line-height: 15px;
            }
            .v-list-item-group{
              border: 1px solid #F0F0F0;
              box-shadow: 0 0 15px rgba(24, 24, 24, 0.07);
            }
          }
        }
        .noti-toolbar{
          height: auto !important;
          .v-toolbar__content{
            padding: 15px 20px 15px 25px;
            height: auto !important;
          }
        }
        .noti-title{
          font-size: 10px;
          line-height: 10px;
          display: flex;
          align-items: center;
          color: $color-light-grey;
          text-transform: uppercase;
        }

        .close-text{
          cursor: pointer;
          font-size: 10px;
        }

        width: 100%;
        &.v-application{
          &.mx-auto{
            margin: 0 !important;
          }
        }
        .v-toolbar__content{
          border-bottom: 1px solid #f0f0f0;
        }

        .v-divider{
          border-color: #f0f0f0 !important;
        }

        .v-list-item__subtitle{
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
        }

        .time-ago-text{
          font-size: 10px;
          line-height: 10px;
          color: $color-light-grey !important;
        }

        .v-list-item{
          min-height: auto !important;
          &:focus{
            background: none;
          }
          &.inactive{
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }
    }

  }

  .article-auction-wrapper{
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    top: 0;
    z-index: 999;
    background: $color-white;
    .logo{
      position: absolute;
      top: 15px;
      left: 20px;
      z-index: 999;
    }

    .noti-close-btn-wrapper{
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 999;

      .close-modal-icon{
        font-size: 20px;
        width: 40px;
        height: 40px;
        background: #F9F9F9;;
        border-radius: 50%;

      }

      button{
        padding: 0;
        text-transform: none;
        font-size: 20px;
        font-weight: normal;
        line-height: 20px;
        background-color: transparent !important;
        box-shadow: none;
        letter-spacing: unset !important;
        border-radius: 50% !important;
        border-radius: 50% !important;
        width: 40px;
        height: 40px;
        min-width: 40px;
        &:before, &:focus:before, &:hover:before{
          background-color: transparent !important;
        }
        .v-btn__content{
          justify-content: flex-end;
        }
      }
    }

    .article-overview-text{
      position: fixed;
      top: 90px;
      left: 20px;
      color: $color-gentle-black;
      z-index: 999;
      font-size: 24px;
      line-height: 25px;
    }

    .article-list{
      margin-top: 135px;
      width: 100%;
      height: calc(100% - 133px);
      overflow: scroll;

      .article-item{
        background: $color-white;
        border: 1px solid $color-normal-grey;
        &.deactive{
          background: $color-extra-light-grey;
          .article-mobile-text{
            color: $color-light-grey;
          }
        }
        .article-mobile-text{
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
        }
      }
    }

  }
}
