<template >
  <div class="auction-container admin">
    <v-row no-gutters class="auction-wrapper">
      <v-col class="image-slider-wrapper" cols="12" style="height: 100%" lg="4" md="4" sm="4" xs="4">
        <VueSlickCarousel :arrows="true" :dots="false" class="slider-container">
          <template #prevArrow="arrowOption">
            <div class="custom-arrow">
              <v-icon class="arrow-left">keyboard_arrow_left</v-icon>
            </div>
          </template>

          <template #nextArrow="arrowOption">
            <div class="custom-arrow">
              <v-icon class="arrow-right">keyboard_arrow_right</v-icon>
            </div>
          </template>
          <div class="image-item">
            <v-img class="article-image" :src="require('../../assets/images/sample-image.png')" height="430px"width="400px" />
          </div>
          <div>
            <v-img class="article-image" :src="require('../../assets/images/sample-image.png')" height="430px" width="400px"/>
          </div>
          <div>
            <v-img class="article-image" :src="require('../../assets/images/sample-image.png')" height="430px" width="400px"/>
          </div>
          <div>
            <v-img class="article-image" :src="require('../../assets/images/sample-image.png')" height="430px" width="400px"/>
          </div>
        </VueSlickCarousel>
      </v-col>

      <v-col style="height: 100%" class="article-wrapper" lg="8" md="8" sm="8" xs="8">

        <v-row class="title-wrapper" no-gutters>
          <v-col lg="8" md="8" sm="8" xs="8">
            <div class="title">{{ongoingArticle.name}}</div>
          </v-col>
          <v-col cols="4" lg="4" md="4" sm="4" xs="4" style="text-align:right">
            <v-row class="price-wrapper no-gutters">
              <span class="light-title" v-translate>Estimated price</span>&nbsp;
              <span class="price-value">&euro;{{parseFloat(ongoingArticle.limit)}}-{{parseFloat(ongoingArticle.estimated_price)}}</span>
            </v-row>
            <br/>
            <v-row class="price-wrapper no-gutters">
              <span  class="light-title" v-translate>Article</span>&nbsp;
              <span class="price-value">#{{ongoingArticle.code}}</span>
            </v-row>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="12" lg="8" md="8" sm="8" xs="8" class="left-side">

            <v-row>
              <v-btn class="btn primary-btn previous-item-btn" @click="jumpToPreviousArticle()">Previous item</v-btn>
              <v-btn class="btn primary-btn next-item-btn" @click="jumpToNextArticle()">Next item</v-btn>
            </v-row>

            <div class="operation-box">
              <v-row>
                <v-col cols="12" lg="6" md="6" sm="6" xs="6">
                  <div class="p-l-r-15">
                    <span class="normal-text" v-translate>Current highest bid</span>
                    <br/>
                    <span class="bold-500 bid-value">&euro;{{parseFloat(currentHighestBid.value)}}</span>
                  </div>
                </v-col>
                <v-col cols="12" lg="6" md="6" sm="6" xs="6">
                  <v-row class="float-and-margin">
                    <div class="ask-block" v-bind:class="{disabled: currentAuction.status !== 'started'}">
                      <label for="ask-value" class="ask-label">Ask</label>
                      <input v-model="askValue" id="ask-value" type="text" placeholder="Enter value" />
                      <v-btn class="btn primary-btn save-ask-btn" @click="doAction({type: 'askBidValue', expectPrice: askValue})" :disabled="currentAuction.status !== 'started'">
                        <span v-if="bidHistory.length > 0">Save</span>
                        <span v-if="bidHistory.length === 0">Start</span>
                      </v-btn>
                    </div>
                  </v-row>
                  <v-row class="float-and-margin">
                    <v-btn class="btn primary-btn send-bid-warning-btn" :disabled="bidWarningRefresh || currentAuction.status !== 'started'" @click="sendBidWarning()">
                      <span v-if="!bidWarningRefresh">Send bid warning</span>
                      <span v-if="bidWarningRefresh"><span class="circle-number">{{bidWarningNumber}}</span><span>Refresh bid warning</span></span>
                    </v-btn>
                  </v-row>

                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" lg="6" md="6" sm="6" xs="6">
                  <v-row class="align-center">
                    <v-btn class="btn primary-btn hall-bid-btn" @click="toggleHallBid(true)" :disabled="currentAuction.status !== 'started'">Hall bid</v-btn>
                    <v-checkbox class="checkbox-wrapper" color="#1F37B6" readonly v-model="ongoingArticle.conditional" true-value="1">
                      <template v-slot:label>
                        <div class="condition-text">
                          <span v-translate>Conditional</span>
                        </div>
                      </template>
                    </v-checkbox>
                  </v-row>
                </v-col>
                <v-col cols="12" lg="6" md="6" sm="6" xs="6">
                  <v-tooltip v-model="showHallBid" class="hall-bid" nudge-left="120px" content-class="hall-bid-content" bottom internal-activator>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn class="btn primary-btn knock-down-btn" :disabled="currentAuction.status !== 'started'" @click="doAction({type: 'sellItem'})">Knockdown</v-btn>
                    </template>
                    <div class="input-group">
                      <label>
                        <input v-model="hallBidValue" type="text" placeholder="External bidder number"/>
                      </label>
                      <v-btn class="btn primary-btn submit-btn" @click="submitHallBid()">Submit</v-btn>

                      <v-btn class="close-btn" @click="toggleHallBid(false)">
                        <v-icon  class="close-modal-icon">close</v-icon>
                      </v-btn>
                    </div>
                  </v-tooltip>
                </v-col>
              </v-row>
            </div>

            <v-row class="" no-gutters>
              <div class="description">
                {{ongoingArticle.description}}
              </div>
            </v-row>

          </v-col>
          <v-col cols="12" lg="4" md="4" sm="4" xs="4" class="right-side">
            <v-row class="first-row">
              <span class="title">Bid history</span>
              <v-btn class="btn primary-btn undo-btn" :disabled="currentAuction.status !== 'started'" @click="doAction({type: 'undo'})">Undo</v-btn>
            </v-row>


            <v-data-table
              class="bid-history"
              :headers="dataTable.headers"
              :items="bidHistory"
              hide-default-footer
            ></v-data-table>
          </v-col>
        </v-row>


      </v-col>
    </v-row>


<!--    Start footer crawler-->
    <v-row justify="center" class="footer-crawler no-gutters" v-bind:class="{'show-shadow': panelOpen === 0 }">
      <v-expansion-panels :readonly="true" accordion v-model="panelOpen"  @expand="onFocus($event, n)">
        <v-expansion-panel>
          <v-expansion-panel-header disable-icon-rotate>
            <v-col align="center" @click="doToggle(true)">
              <v-icon  class="arrow-up">keyboard_arrow_up</v-icon>
              <!--<v-icon v-if="panelOpen === 0" class="arrow-up">keyboard_arrow_down</v-icon>-->
              <span class="article-overview-text"><span v-translate>Articles Overview</span> ({{currentAuction.articleList ? currentAuction.articleList.length: 0}})</span>
          </v-col>
            <template v-slot:actions>
            <v-icon></v-icon>
          </template>
          </v-expansion-panel-header>
          <v-expansion-panel-content :key="0" class="article-list">
            <v-slide-group class="article-group" v-model="slideModel" active-class="success" show-arrows>
              <v-slide-item v-for="(item,index) in currentAuction.articleList" :key="item.id">
                <v-card
                  class="mx-auto ma-4 article-card"
                  elevation="0"
                  v-bind:class="{'admin-deactive': (item.status === '2')}"
                >
                  <v-img
                    :src="require('../../assets/images/sample-image.png')"
                    height="120px" width="170px"
                    style="margin: 0 auto;"
                  />

                  <v-card-subtitle class="article-title">
                    {{item.name}}
                  </v-card-subtitle>

                  <v-card-subtitle class="article-description">
                    <span v-translate>Estimated price</span> €{{parseFloat(item.limit)}}—{{parseFloat(item.estimated_price)}}<br/>
                    <span v-translate>Article</span> #{{item.code}}

                    <v-btn v-if="item.status === '1'" class="btn primary-btn jump-btn" @click="askJump(item.id)" v-translate>Jump to this</v-btn>
                    <v-btn v-if="item.status === '0' || item.status === '3'" class="btn primary-btn jump-btn" @click="askJump(item.id, true)" v-translate>Re-auction</v-btn>

                    <span v-bind:class="{hidden: item.status !== '2'}" class="admin-status-text" v-translate>Current</span>
                    <span v-bind:class="{hidden: item.status !== '1'}" class="admin-status-text" v-translate>Upcoming</span>
                    <span v-bind:class="{hidden: item.status !== '3'}" class="admin-status-text" v-translate>Skipped</span>
                    <span v-bind:class="{hidden: item.status !== '0'}" class="admin-status-text" v-translate>Sold</span>
                  </v-card-subtitle>
                </v-card>
              </v-slide-item>
            </v-slide-group>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>
<!--    End footer crawler-->

    <v-overlay class="custom-back-drop" v-if="toggleList === true">
      <div class="close-btn-wrapper">
        <v-btn id="close-list-btn" class="" @click="doToggle(false)">
          <span v-translate>Close</span>
          <v-icon  class="close-modal-icon">close</v-icon>
        </v-btn>

      </div>
    </v-overlay>

    <v-overlay class="custom-back-drop status-modal" v-if="stopLoadingModal">
      <div class="message-box-wrapper">
        <div class="message-box">
          <div class="message-content">
            <v-icon class="warning-icon">warning</v-icon>
            <br/>
            <span class="loading-message">{{getStopLoadingMessage()}}</span>
            <div class="button-list">
              <v-btn class="btn primary-btn yes-stop-btn" @click="stopAuction()">Yes, stop</v-btn>
              <v-btn class="btn primary-btn cancel-btn" @click="changeState({key: 'stopLoadingModal', value: false})">Cancel</v-btn>
            </div>

          </div>

        </div>
      </div>
    </v-overlay>

    <v-overlay class="custom-back-drop status-modal" v-if="jumpLoadingModal">
      <div class="message-box-wrapper">
        <div class="message-box">
          <div class="message-content">
            <v-icon class="warning-icon">warning</v-icon>
            <br/>
            <span class="loading-message">{{getJumpLoadingMessage()}}</span>
            <div class="button-list">
              <v-btn class="btn primary-btn yes-stop-btn" @click="jumpArticle()">Yes</v-btn>
              <v-btn class="btn primary-btn cancel-btn" @click="changeState({key: 'jumpLoadingModal', value: false})">Cancel</v-btn>
            </div>

          </div>

        </div>
      </div>
    </v-overlay>

    <v-overlay class="custom-back-drop status-modal" v-if="reauctionLoadingModal">
      <div class="message-box-wrapper">
        <div class="message-box">
          <div class="message-content">
            <v-icon class="warning-icon">warning</v-icon>
            <br/>
            <span class="loading-message">{{getReauctionLoadingMessage()}}</span>
            <div class="button-list">
              <v-btn class="btn primary-btn yes-stop-btn" @click="jumpArticle()">Yes</v-btn>
              <v-btn class="btn primary-btn cancel-btn" @click="changeState({key: 'reauctionLoadingModal', value: false})">Cancel</v-btn>
            </div>

          </div>

        </div>
      </div>
    </v-overlay>


  </div>
</template>

<script>

import { mapState, mapActions, mapGetters } from 'vuex';
import {translate} from 'vue-gettext';
import * as _ from 'lodash';

const {gettext: $gettext} = translate;

import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

import './styles.scss'
import '../auction/style.scss';


const loadingMessage = {
  stop: $gettext('You are about to stop active auction'),
  jump: $gettext('You are about to jump to another article'),
  reauction: $gettext('Re-auction will override the old auction')
};


export default {
  name: 'Auction',
  components: { VueSlickCarousel },
  async created(){

    await this.getCurrentActiveAuction();

    // Listener
    if(this.socketInstance){
      this.socketListener();
    }else{
      // Retry after 2s
      setTimeout(()=>{
        this.socketListener();
      },2000)
    }
  },
  data: () => ({
    visibleNotiList: false,
    slideModel: null,
    items: [],
    panelOpen: 1,
    toggleList: false,
    showNotiTooltip: false, // When user got higher bid
    notificationMessage: '',
    currentMobilePage: 1,
    showMobileArticleModal: false,
    dataTable: {
      headers: [
        {
          text: 'Time',
          align: 'start',
          sortable: false,
          value: 'created_at',
        },
        { text: 'Type', value: 'type',  sortable: false, },
        { text: 'Bid', value: 'bid',  sortable: false, },
        { text: 'Bidder number', value: 'bidder_number',  sortable: false, }
      ],
    },
    bidWarningRefresh: false,
    bidWarningNumber: 10,
    askJumpId: null,
    showHallBid: false,
    hallBidValue: null,
    askValue: null
  }),
  computed: {
    ...mapState('auction',['currentAuction', 'showPushNotiTooltip', 'stopLoadingModal', 'jumpLoadingModal', 'reauctionLoadingModal']),
    ...mapState(['userProfile', 'socketInstance', 'notificationList', 'showBottomNavigation']),
    ...mapGetters('auction',['ongoingArticle', 'currentHighestBid', 'formattedCurrentAuction', 'currentStepValue', 'bidHistory', 'expectValue'])
  },
  methods: {
    ...mapActions('auction',['getCurrentActiveAuction', 'doBid', 'changeState', 'doAction', 'jumpToArticle']),
    ...mapActions(['changeGlobalState', 'getNotification', 'markReadNotification']),

    // LIsten event from socket server
    socketListener(){
      let that = this;

      // New bid
      if(this.socketInstance){
        this.socketInstance.on('updateBid', async(data) => {
          // Store
          //this.changeState({key: 'currentAuction', value: data});
          await this.getCurrentActiveAuction()

          this.changeState({key: 'loadingModal', value: false})
        });
      }

      // // Pause
      // if(!this.socketInstance._callbacks.$pause){
      //   this.socketInstance.on('pause', (data) => {
      //     this.changeState([{key: 'loadingModal', value: true}, {key: 'loadingType', value: 'paused'}])
      //   });
      // }
      //
      //
      // // Resume
      // if(!this.socketInstance._callbacks.$resume){
      //   this.socketInstance.on('resume', async(data) => {
      //     // Refresh all data
      //     await this.getCurrentActiveAuction()
      //
      //     this.changeState({key: 'loadingModal', value: false})
      //   });
      // }
      //
      // // Admin warning
      // if(!this.socketInstance._callbacks.$bidWarning){
      //   this.socketInstance.on('bidWarning', (data) => {
      //     this.changeState({key: 'showPushNotiTooltip', value: true})
      //
      //     // Hide after 5s
      //     setTimeout(()=>{
      //       this.changeState({key: 'showPushNotiTooltip', value: false})
      //     },5000)
      //   });
      // }
      //
      //
      // // Admin mark item is sold
      // if(!this.socketInstance._callbacks.$sellItem){
      //   this.socketInstance.on('sellItem', async (data) => {
      //     // Refresh all data
      //     await this.getCurrentActiveAuction()
      //   });
      // }
      //
      // // Notification
      // this.socketInstance.on('notification', async(data) => {
      //   console.log(data)
      //   this.showNotiTooltip = true;
      //   this.notificationMessage = data;
      //
      //   // Load notification
      //   await this.getNotification();
      // });
    },
    // Do a bid
    async doABid(){
      await this.doBid({auctionId: this.currentAuction.id, articleId: this.ongoingArticle.id, bid: (parseFloat(this.currentHighestBid.value)+parseFloat(this.currentStepValue.limit))})
    },
    getStopLoadingMessage(){
      return loadingMessage.stop;
    },
    getJumpLoadingMessage(){
      return loadingMessage.jump;
    },
    getReauctionLoadingMessage(){
      return loadingMessage.reauction;
    },
    doToggle(value, forceClose){
      if(forceClose){
        // Hit close button
        setTimeout(()=>{
          let element = document.getElementById("close-list-btn");
          // Fire click
          if(element){
            element.click();
          }
        })

        // this.panelOpen = 1;
      }else{
        // Only process if there is change
        this.toggleList = !this.toggleList;

        // Open or close list
        if(this.toggleList){
          this.panelOpen = 0;
        }else{
          this.panelOpen = 1;
        }
      }

    },
    showNotificationList () {
      this.visibleNotiList = !this.visibleNotiList
    },
    closeNotificationList () {
      this.visibleNotiList = false
    },
    onFocus(evt, value){
      console.log(value)
    },
    selectArticle(index){
      // Only can select on going and available item
      if(this.currentAuction.articleList[index].status !== '0'){
        this.doToggle(false, true);
        this.changeState({key: 'selectedArticle', value: index})

        // User choose non-sold article
        if(this.currentAuction.articleList[index].status === '1'){
          this.changeState({key: 'showPushNotiTooltip', value: true})
        }else{
          this.changeState({key: 'showPushNotiTooltip', value: false})
        }


        // On mobile view, hide article list modal
        this.currentMobilePage = 1;
      }
    },

    // Get notification count number
    getNotificationNumber(){
      return this.notificationList.length !== undefined ? (this.notificationList.length).toString() : 0
    },

    // Hide notification tooltip
    closeNotiTooltip(){
      this.showNotiTooltip = false;
    },

    // Close noti page
    closeNotiModal(){

    },

    // Send bid warning
    sendBidWarning(){
      // Show count down
      this.bidWarningRefresh = true;

      setInterval(()=>{
        if(this.bidWarningNumber === 0){
          // Hide countdown
          this.bidWarningRefresh = false;
          // Reset value
          this.bidWarningNumber = 10;
        }else{ // Keep count down
          this.bidWarningNumber -= 1;
        }
      },1000)
      this.doAction({type: 'bidWarning'})
    },

    // Stop auction
    async stopAuction(){
      await this.doAction({type: 'stop'})

      // Hide modal
      this.changeState({key: 'stopLoadingModal', value: false})
    },

    jumpToNextArticle(){
      // Find current article index
      let index = _.findIndex(this.currentAuction.articleList, ['status', '2']);

      // Go to the next article
      if(index+1 < this.currentAuction.articleList.length){
        this.askJump(this.currentAuction.articleList[index+1].id, this.currentAuction.articleList[index+1].status === '3')
      }
    },

    jumpToPreviousArticle(){
      // Find current article index
      let index = _.findIndex(this.currentAuction.articleList, ['status', '2']);

      // Go to the next article
      if(index !== 0){
        this.askJump(this.currentAuction.articleList[index-1].id, this.currentAuction.articleList[index-1].status === '3')
      }
    },

    // Ask to jump to specific article
    askJump(id, reauction){
      this.askJumpId = id;

      if(reauction){ // Show reauction
        this.changeState({key: 'reauctionLoadingModal', value: true})
      }else{
        this.changeState({key: 'jumpLoadingModal', value: true})
      }

    },

    // Jump to specific article
    async jumpArticle(){
      await this.jumpToArticle(this.askJumpId)

      // Hide modal
      this.changeState([{key: 'jumpLoadingModal', value: false},{key: 'reauctionLoadingModal', value: false}])

      // Close footer crawler
      this.doToggle(true, true)
    },

    // Mark notification as read
    async readNotification(id){
      await this.markReadNotification(id);

      await this.getNotification();
    },

    toggleHallBid(value){
      this.showHallBid = value;

      // Reset value
      if(this.showHallBid === false){
        this.hallBidValue = ''
      }
    },

    // Submit hall bid value
    async submitHallBid(){
      await this.doAction({type: 'hallBid', bidderNumber: this.hallBidValue})
    },

    // Switch pages in bottom panel
    switchBottomPanel(value){
      this.currentMobilePage = value;
    }
  }
}
</script>
