@import 'src/global/variable';

.auction-container{
  &.admin{
    .left-side{
      max-height: 360px;
      overflow: scroll;
      position: relative;
      .previous-item-btn, .next-item-btn, .send-bid-warning-btn{
        width: 113px !important;
        height: 30px !important;
        background-color: $color-white !important;
        border: 1px solid $color-normal-grey;
        border-radius: 3px;
        color: $color-gentle-black !important;
        padding: 5px 15px !important;
        font-size: 12px !important;
      }

      .send-bid-warning-btn{
        min-width: 201px;
        height: 40px !important;
        background-color: $color-white !important;
        border: 1px solid rgba(24, 24, 24, 0.1) !important;
        border-radius: 3px;
        color: $color-gentle-black !important;
        font-size: 12px !important;
        padding: 5px 47px !important;
        &.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined){
          //color: $color-light-grey !important;
          opacity: 0.2;
          background-color: $color-extra-light-grey !important;
        }
      }

      .previous-item-btn{
        position: absolute;
        left: 12px;
      }

      .next-item-btn{
        position: absolute;
        right: 12px;
      }

      .hall-bid-btn{
        width: 110px;
        height: 40px !important;
        background-color: $color-white !important;
        border: 1px solid rgba(24, 24, 24, 0.1) !important;
        border-radius: 3px;
        color: $color-gentle-black !important;
        font-size: 16px !important;
        padding: 5px 47px !important;
        margin: 0 30px;
        &.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined){
          //color: $color-light-grey !important;
          opacity: 0.2;
          background-color: $color-extra-light-grey !important;
        }
      }

      .description{
        font-size: 12px;
        line-height: 20px;
        margin-top: 40px;
      }
    }
    .right-side{
      .first-row{
        align-items: center;
        position: relative;
        .title{
          margin-left: 12px;
          font-size: 16px !important;
          line-height: 20px;
          color: $color-gentle-black;
        }
        .undo-btn{
          width: 64px;
          height: 30px !important;
          background-color: $color-white !important;
          border: 1px solid $color-normal-grey;
          border-radius: 3px;
          color: $color-gentle-black !important;
          padding: 5px 15px !important;
          font-size: 12px !important;
          position: absolute;
          right: 0;
          &.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined){
          //color: $color-light-grey !important;
          opacity: 0.2;
          background-color: $color-extra-light-grey !important;
        }
        }
      }
      .bid-history{
        margin-top: 20px;
        th{
          font-size: 10px;
          line-height: 10px;
          color: $color-light-grey;
          font-weight: normal;
        }
        tbody{
          tr{
            &:first-child{
              background: $color-extra-light-grey;
              td{
                &:not(:first-child) {
                  font-weight: bold;
                }
              }
            }
            td{
              font-size: 12px;
              &:first-child{
                color: $color-light-grey;
                font-weight: normal;
              }
            }
          }
        }
      }

    }
    .operation-box{
      background-color: $color-extra-light-grey;
      border-radius: 3px;
      margin-top: 50px;
      .float-and-margin{
        float: right;
        margin-right: 15px;

        .circle-number{
          padding: 5px;
          border-radius: 50%;
          border: solid 2px $color-gentle-black;
          width: 30px;
          height: 30px;
          display: inline-block;
          margin-right: 5px;
          text-align: center;
        }
      }
      .normal-text{
        font-size: 16px;
        line-height: 20px;
        color: $color-gentle-black;
      }
      .bid-value{
        font-size: 24px;
      }

      .ask-block{
        background: $color-white;
        border: 1px solid rgba(24, 24, 24, 0.1);
        box-sizing: border-box;
        border-radius: 3px;
        min-width: 201px;
        min-height: 40px;
        font-size: 12px;
        margin-bottom: 10px;
        &.disabled{
          opacity: 0.2;
          input{
            pointer-events: none;
          }
        }
        .ask-label{
          padding: 0 10px;
          color: $color-light-grey
        }
        #ask-value{
          display: inline;
          max-width: 92px;
          outline: none;
          padding-right: 10px;
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $color-light-grey
          }
        }
        .save-ask-btn{
          width: 61px;
          height: 40px !important;
          background-color: $color-extra-light-grey !important;
          color: $color-gentle-black !important;
          align-self: center;
          display: inline-block;
          padding: 5px 15px !important;
          font-size: 12px !important;
          line-height: 20px;
          border-radius: 0;
          &.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined){
            //color: $color-light-grey !important;
            opacity: 0.2;
            background-color: $color-extra-light-grey !important;
          }
        }
      }
      .knock-down-btn{
        width: 201px;
        height: 40px !important;
        background-color: #D7AA0B !important;
        border-radius: 3px;
        color: $color-gentle-black !important;
        padding: 5px 15px !important;
        font-size: 16px !important;
        line-height: 20px;
        position: absolute;
        right: 28px;
        &.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined){
          //color: $color-light-grey !important;
          opacity: 0.2;
          background-color: $color-normal-grey !important;
        }
      }
      .checkbox-wrapper{
        margin-top: 0 !important;
        height: 20px;
        padding-top: 0;

        i{
          font-size: 20px;
        }
        .condition-text{
          font-size: 12px;
          line-height: 15px;
          color: $color-gentle-black;
          margin-top: 0;
        }
      }
    }
  }
  .article-card{
    &.admin-deactive{
      background-color: $color-extra-light-grey !important;
    }
    .admin-status-text{
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      color: $color-light-grey
    }
    .article-description{
      .jump-btn{
        display: block;
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        padding: 5px 15px;
        line-height: 20px;
        width: 117px;
        height: 30px !important;
        background-color: #FFFFFF !important;
        border: 1px solid #F0F0F0;
        border-radius: 3px;
        color: #181818 !important;
        font-size: 12px !important;
        font-weight: normal !important;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.hall-bid-content{
  background: $color-white !important;
  border-radius: 3px;
  width: 475px !important;
  height: 70px;
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.07);
  pointer-events: auto !important;
  opacity: 1 !important;

  &.v-tooltip__content{
    pointer-events: all;
    padding-right: 0;
    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;  /* At the top of the tooltip */
      right: 100px;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      top: unset !important;
      border-color: transparent transparent $color-white transparent;
    }
  }

  .input-group{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: $color-white;
    //border: 1px solid rgba(24, 24, 24, 0.1);
    box-sizing: border-box;
    //border-radius: 3px;
    height: 40px;
    width: 100%;
    input{
      width: 299px;
      height: 40px;
      background: $color-white;
      border: 1px solid rgba(24, 24, 24, 0.1);
      box-sizing: border-box;
      border-radius: 3px;
      font-size: 12px;
      line-height: 15px;
      padding: 13px 15px;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color-light-grey
      }
      &:focus{
        outline: none
      }
    }
    .submit-btn{
      height: 39px !important;
      width: 91px !important;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $color-black !important;
      color: $color-white !important;
      font-size: 12px !important;
    }
    .close-btn{
      text-align: center;
      color: $color-light-grey;
      height: 40px !important;
      width: 40px;
      min-width: 40px !important;
      background-color: transparent !important;
      box-shadow: none;
      margin-left: 15px;
    }
  }

}