<template>
  <div class="websocket">
    <h1>WS</h1>
    <h2>{{ msg }}</h2>
    <button v-on:click="testSocket()">sock</button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import io from 'socket.io-client'

let socket: any

export default Vue.extend({
  data () {
    return {
      msg: 'Hello'
    }
  },
  methods: {
    testSocket (): void {
      console.log('colicked')
      // const socket = io('https://localhost:3000')
      socket.emit('message', 'this is my message')
    }
  },
  mounted () {
    console.log('mounted')
    socket = io('https://localhost/')
    socket.on('message', (data: any) => {
      console.log(data)
    })
  }
})
</script>
